<div class="contentRecordsTableContainer MainContainer" style="height: auto">
  <div class="">
    <div>
      <div>
        <h2 class="text-center" id="totalGroupCombinations">Create Purchase</h2>
      </div>
      <hr style="margin: 12px" />
    </div>
    <div class="popupContentWrapper" style="background: none">
      <div class="row">
        <div class="col-md-12">
          <!-- <app-popup class="m-4"></app-popup> -->

          <div class="row">
            <div class="col-md-3">
              <!-- <span class="inputItems">Seller Name: {{ sellerName }}</span>
              <div style="display: flex; align-items: center">
                <input
                  type="text"
                  [(ngModel)]="sellerPanOrPhone"
                  class="input-field"
                  style="margin: 0 5px"
                  (keydown.enter)="fetchPurchaserInfo()"
                />
                <button
                  class="ml-3"
                  class="submit_btn border-rad"
                  style="margin: 0 5px"
                  (click)="fetchPurchaserInfo()"
                >
                  Search
                </button>
                <button
                  id="selectSeller"
                  class="createNewTableRecord"
                  style="display: none"
                ></button>
              </div>
              <div class="ml-2 mt-2">
                <span>
                  <input
                    type="radio"
                    name="surchaserSearch"
                    value="pan"
                    (change)="sellerSearch(1)"
                    [checked]="sellerSearchMethod === 1"
                  />
                  PAN
                </span>
                <span>
                  <input
                    type="radio"
                    name="sellerSearch"
                    class="ml-3"
                    value="phone"
                    [checked]="sellerSearchMethod === 2"
                    (change)="sellerSearch(2)"
                  />
                  PHONE</span
                >
              </div> -->
              <span class="inputItems">Seller Name: {{ sellerName }}</span>
              <div style="display: flex; align-items: center">
                <input
                  type="text"
                  [(ngModel)]="sellerPanOrPhone"
                  class="input-field"
                  style="margin: 0 4px"
                  placeholder="pan or phone (10 digits)"
                  (keydown.enter)="fetchPurchaserInfo()"
                />
                <button
                  class="ml-3"
                  class="submit_btn border-rad"
                  style="margin: 0 5px"
                  (click)="fetchPurchaserInfo()"
                >
                  Search
                </button>
                <button
                  id="selectSeller"
                  class="createNewTableRecord"
                  style="display: none"
                ></button>
              </div>
              <!-- <div class="ml-2 mt-2">
                <span>Search By Pan or Phone</span>
                <div>
                  <span
                    ><small>10 digits for phone, 9 digits for pan</small></span
                  >
                </div>
              </div> -->
            </div>
            <div
              class="col-md-3"
              style="
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
              "
            >
              <!-- <span style="text-align: left"
                >Add Purchaser:
                <button id="createNewPurchaser" class="createNewTableRecord">
                  <i
                    class="fa-sharp fa-solid fa-user-plus"
                    style="color: green"
                  ></i>
                </button>
              </span> -->
            </div>
            <div
              class="col-md-3 mt-3"
              style="display: flex; align-items: center"
            >
              <span class="inputItems">Date:</span>
              <input
                class="inputItems input-field"
                id="date"
                [(ngModel)]="date"
                type="date"
              />
            </div>
            <div
              class="col-md-3 mt-3"
              style="display: flex; align-items: center"
            >
              <span class="inputItems">Bill number:</span>
              <input class="input-field" type="number" [(ngModel)]="billNo" />
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-3">
              <!-- <input
                class="inputItems input-field"
                type="text"
                [ngModel]="currentBranch"
                readonly
              /> -->
              <span>
                {{ currentBranch }}
              </span>
            </div>
            <!-- <div class="col-md-3">
              <input type="radio" name="discountType" value="1" />
              Discount Per unit
              <input type="radio" name="discountType" value="0" ; />
              On overall basis
            </div> -->

            <div class="col-md-3">
              <div style="display: inline-block">
                <input
                  type="radio"
                  style="
                    margin-top: 8px;
                    display: inline-block;
                    margin-left: 3px;
                  "
                  name="saleType"
                  [checked]="saleType === 1"
                  (change)="setSaleType(1)"
                />
                <label
                  style="
                    margin-top: 8px;
                    margin-left: 3px;
                    display: inline-block;
                  "
                  >Cash Purchase
                </label>
              </div>
              <div style="display: inline-block; margin-left: 10px">
                <input
                  type="radio"
                  style="margin-top: 8px; display: inline-block"
                  name="saleType"
                  [checked]="saleType === 2"
                  (change)="setSaleType(2)"
                />
                <label
                  style="
                    margin-top: 8px;
                    margin-left: 3px;
                    display: inline-block;
                  "
                  >Credit Purchase</label
                >
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="offset-md-3">
                <div style="text-align: left">
                  <div style="display: inline-block; width: 150px">
                    Enter product Id:
                  </div>
                  <div style="display: inline-block">
                    <input
                      type="text"
                      #prodIdInput
                      id="productBarCodeId"
                      class="input-field"
                      [(ngModel)]="productBarCodeId"
                      (keydown.enter)="addTheProductForPurchase()"
                    />
                  </div>
                </div>
                <div style="text-align: left" class="mt-3">
                  <div style="display: inline-block; width: 150px">
                    Enter product Qty:
                  </div>
                  <div style="display: inline-block">
                    <input
                      type="text"
                      class="input-field"
                      #prodQtyInput
                      [(ngModel)]="productQty"
                      (keydown.enter)="changeProductQuantity()"
                    />
                  </div>
                </div>
                <div style="text-align: left" class="mt-3">
                  <div style="display: inline-block; width: 150px">
                    Enter Product Name:
                  </div>
                  <div style="display: inline-block">
                    <input
                      type="text"
                      class="input-field"
                      [(ngModel)]="prodWildCard"
                      (keydown.enter)="getNameWildCard()"
                    />
                  </div>
                  <button
                    id="selectProduct"
                    class="createNewTableRecord"
                    style="display: none"
                  >
                    Add By Name
                  </button>
                </div>

                <div class="mt-3">
                  <button
                    class="submit_btn border-rad"
                    (click)="addTheProductForPurchase()"
                  >
                    Add To Bill
                  </button>
                </div>
              </div>
            </div>
            <div class="recordsTableDiv">
              <table cellspacing="0" cellpadding="0" class="recordsTable">
                <thead>
                  <th>S.N</th>
                  <th>Item</th>
                  <th>Qty</th>
                  <th>Rate</th>
                  <th>TAX</th>
                  <th>Total Amount</th>
                  <th>Remove Item</th>
                  <!-- <th>Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th> -->
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let prod of productsUserWantToPurchase;
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td>
                      {{ prod.name }}
                    </td>
                    <td>
                      <input
                        class="input-field"
                        type="number"
                        value="1"
                        id="qtyProd{{ i }}"
                        (change)="updateTotalAmount()"
                      />
                      <span *ngIf="prod.stock <= 10"
                        ><span
                          class="badge rounded-pill bg-warning text-dark ml-1"
                        >
                          . {{ prod.stock }} remaining !</span
                        >
                      </span>
                    </td>
                    <td>
                      <input
                        type="number"
                        id="unitPrice{{ i }}"
                        readonly
                        value="{{ prod.sellingPrice }}"
                      />
                    </td>
                    <td>
                      <select
                        name="tax"
                        id="tax"
                        #tax="ngModel"
                        style="width: 100%"
                        class="form-control form-select"
                        [(ngModel)]="prod.tax"
                      >
                        <option [value]="ap.id" *ngFor="let ap of typerate">
                          {{ ap.vatRate }}
                        </option>
                      </select>
                    </td>
                    <td id="totalAmount{{ i }}">
                      {{ prod.sellingPrice }}
                    </td>

                    <td style="text-align: center; vertical-align: middle">
                      <i
                        class="fa fa-remove text-danger"
                        (click)="removeItemFromCart(i)"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row mt-2 p-3">
                <div class="col-md-4 offset-md-8">
                  <div class="card">
                    <div
                      class="card-header text-white"
                      style="background-color: #e3e6eb"
                    >
                      <h5 class="card-title mb-0 text-black">
                        <th>Required Additional Attributes</th>
                      </h5>
                    </div>
                    <div class="card-body">
                      <form
                        #createtransportationForm="ngForm"
                        name="createTransportation"
                        id="createTransportationForm"
                      >
                        <div class="chooseColoumnsWrapper">
                          <div class="fieldDiv popUpFormSectionWrapper">
                            <table class="" cellpadding="0" cellspacing="1">
                              <tr style="padding-bottom: 5px">
                                <td style="font-size: large">Name</td>
                                <td style="font-size: large">Amount</td>
                                <td style="font-size: large">Tax Type</td>
                              </tr>

                              <tr style="padding-top: 10px">
                                <td class="col1 pt-2">
                                  Transportation:<span class="mandatorySign"
                                    >*</span
                                  >
                                </td>
                                <td class="col2">
                                  <input
                                    type="number"
                                    [class.is-invalid]="
                                      transportationField.invalid &&
                                      transportationField.touched
                                    "
                                    class="form-control"
                                    id="transportation"
                                    required
                                    name="transportation"
                                    #transportationField="ngModel"
                                    required="required"
                                    [(ngModel)]="transportation"
                                    (keydown.enter)="
                                      goToTransportationTaxField()
                                    "
                                  />
                                </td>
                                <td>
                                  <select
                                    name="transportationTax"
                                    id="transportationTax"
                                    #transportationTax="ngModel"
                                    [(ngModel)]="transportationTaxType"
                                    style="width: 100%"
                                    class="form-control form-select"
                                    (keydown.enter)="goToInsuranceField()"
                                  >
                                    <option
                                      [value]="ap.id"
                                      *ngFor="let ap of typerate"
                                    >
                                      {{ ap.vatRate }}
                                    </option>
                                  </select>
                                </td>
                              </tr>
                              <tr>
                                <td class="col1 pt-2">
                                  Insurance:<span class="mandatorySign">*</span>
                                </td>
                                <td class="col2">
                                  <input
                                    type="number"
                                    [class.is-invalid]="
                                      insuranceField.invalid &&
                                      insuranceField.touched
                                    "
                                    class="form-control"
                                    id="insurance"
                                    required
                                    #insuranceField="ngModel"
                                    name="insurance"
                                    required="required"
                                    [(ngModel)]="insurance"
                                    (keydown.enter)="goToInsuranceTaxField()"
                                  />
                                </td>

                                <td>
                                  <select
                                    name="insuranceTax"
                                    id="insuranceTax"
                                    #insuranceTax="ngModel"
                                    [(ngModel)]="insuranceTaxType"
                                    style="width: 100%"
                                    class="form-control form-select"
                                    (keydown.enter)="goToLoadingField()"
                                  >
                                    <option
                                      [value]="ap.id"
                                      *ngFor="let ap of typerate"
                                    >
                                      {{ ap.vatRate }}
                                    </option>
                                  </select>
                                </td>
                              </tr>

                              <tr>
                                <td class="col1 pt-2">
                                  Loading:<span class="mandatorySign">*</span>
                                </td>
                                <td class="col2">
                                  <input
                                    [class.is-invalid]="
                                      loadingField.invalid &&
                                      loadingField.touched
                                    "
                                    type="number"
                                    class="form-control"
                                    id="loading"
                                    required
                                    #loadingField="ngModel"
                                    name="loading"
                                    required="required"
                                    [(ngModel)]="loading"
                                    (keydown.enter)="goToLoadingTaxField()"
                                  />
                                </td>
                                <td>
                                  <select
                                    name="loadingTax"
                                    id="loadingTax"
                                    #loadingTax="ngModel"
                                    [(ngModel)]="loadingTaxType"
                                    style="width: 100%"
                                    class="form-control form-select"
                                    (keydown.enter)="goToOtherField()"
                                  >
                                    <option
                                      [value]="ap.id"
                                      *ngFor="let ap of typerate"
                                    >
                                      {{ ap.vatRate }}
                                    </option>
                                  </select>
                                </td>
                              </tr>
                              <tr></tr>

                              <tr>
                                <td class="col1 pt-2">
                                  Other:<span class="mandatorySign">*</span>
                                </td>
                                <td class="col2">
                                  <input
                                    type="number"
                                    [class.is-invalid]="
                                      otherField.invalid && otherField.touched
                                    "
                                    class="form-control"
                                    id="other"
                                    required
                                    name="other"
                                    #otherField="ngModel"
                                    required="required"
                                    [(ngModel)]="other"
                                    (keydown.enter)="goToOtherTaxField()"
                                  />
                                </td>

                                <td class="col3">
                                  <select
                                    name="otherTax"
                                    id="otherTax"
                                    #otherTax="ngModel"
                                    [(ngModel)]="otherTaxType"
                                    style="width: 100%"
                                    class="form-control form-select"
                                    (keydown.enter)="goTopurchesebuttom()"
                                  >
                                    <option
                                      [value]="ap.id"
                                      *ngFor="let ap of typerate"
                                    >
                                      {{ ap.vatRate }}
                                    </option>
                                  </select>
                                </td>
                              </tr>
                              <tr></tr>
                            </table>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-top: 20px">
              <!-- <button class="submit_btn border-rad" id="popperAlertLink">
              Sale the product
            </button> -->
              <!-- <button class="submit_btn" (click)="purchaseTheProducts(true)">
                Save as a Draft
              </button> -->
              <button
                class="submit_btn border-rad"
                id="sumbit_btn "
                name="sumbit_btn "
                (click)="purchaseTheProducts(false)"
              >
                Purchase the Product
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="popupWrapper createPurchaserPopUpWrapper"
    id="createNewPurchaserPopup"
    style="display: none"
  >
    <div class="mb-2"></div>
    <app-create-customer
      (customerAddedSuccessMsg)="getCompanyList()"
      [title]="'Seller'"
    ></app-create-customer>
  </div>

  <!-- code start -->

  <!-- code end -->
  <div
    class="popupWrapper"
    id="selectSellerPopup"
    style="display: none; width: auto"
  >
    <app-select-customer
      *ngIf="selectSenderActive"
      [selectMenusForCompanies]="selectMenusForCompanies"
      (compIdEvent)="setSellerInfo($event)"
      (destroySelectCompEmitter)="destroySelectSenderComponent($event)"
      (fetchCustomerEventEmitter)="fetchSellerInfoOnlyForNameDisplay($event)"
      [title]="'Seller'"
    >
    </app-select-customer>

    <!-- suraj -->
  </div>
</div>
<div
  class="popupWrapper"
  id="selectProductPopup"
  style="display: none; width: auto"
>
  <app-select-product
    *ngIf="selectProductActive"
    [selectMenusForProduct]="selectMenusForProduct"
    (prodSelectEmitter)="setProductSelectedByName($event)"
    (destroySelectProdEmitter)="destroySelectProductComponent($event)"
    (fetchProductEventEmitter)="getNameWildCard()"
  >
  </app-select-product>
</div>
