<div class="contentRecordsTableContainer MainContainer">
  <div class="" style="height: 545px">
    <div>
      <div>
        <h2 class="text-center" id="totalGroupCombinations">
          Sales Product List
        </h2>
      </div>
      <hr style="margin: 12px" />
    </div>

    <div class="searchCreateTableDiv">
      <div class="searchCreateDiv">
        <div class="fleft searchDiv" id="prodSearch">
          <input
            class="inputText hintText"
            type="text"
            search="off"
            value="Enter CustomerPartName/MasterPartName to Search"
          />
          <input
            type="image"
            src="../../../assets/resources/images/searchButton.png"
            class="serachButton"
            title="Search Term"
          />
          <a href="#" class="genLink">Clear searchs</a>
        </div>
        <!-- <div class="fright" class="createProductDiv">
          <a href="" id="createNewProduct" class="createNewTableRecord">
            <img src="../../../assets/resources/images/createProduct.png" />
            <span> Create Product</span>
          </a>
        </div> -->
        <div class="cboth"></div>
      </div>
      <div class="tableWrapper">
        <div class="tablesettingDiv">
          <div class="fleft filterListWrapper">
            <div class="fleft">
              <span class="italicText"></span>
            </div>
            <ul
              class="fleft filtersDisplayList salesBillTableFiltersDisplayList"
            ></ul>
            <div class="cboth"></div>
          </div>
          <div class="fright configNavTableWrapper">
            <div
              class="fleft configTableDiv newFilterItem"
              dropdownId="salesBillTableFilters"
            >
              <a href="" class="">
                <img
                  src="../../../assets/resources/images/newfilter-bg.png"
                  alt="New Filter"
                  title="Add new filter"
                />
                <span id="newProductFilter" search="off">New Filter</span>
              </a>
            </div>
            <div class="fleft configTableDiv">
              <a href="" class="configTableLink">
                <img src="../../../assets/resources/images/config-bg.png" />
                <span>Configure Table</span>
                <img src="../../../assets/resources/images/th-sort-down.png" />
              </a>
              <div class="configTableDropdown" id="salesBillTableFilters">
                <ul class="configOptionList" id="SaleBillConfigList">
                  <li class="filterItem">
                    <span>Recent Filters</span>
                    <ul class="filterList" id="SaleBillFilterList">
                      <!-- <c:if test="${not empty SaleBillFilters}"> -->
                      <!-- <c:forEach items="${SaleBillFilters}" var="filter"> -->
                      <li>
                        <a
                          href=""
                          class="filterLink SaleBillFilterName"
                          style="
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "
                          >filter.name</a
                        >
                        <span class="SaleBillFilterId" style="display: none"
                          >filter.id</span
                        >
                        <div
                          class="SaleBillFilterReqData hoverData"
                          style="display: none"
                        >
                          filter.reqData
                        </div>
                      </li>
                      <!-- </c:forEach> -->
                      <!-- </c:if> -->
                      <!-- <c:if test="${not empty SaleBillFilterSeeMore}"> -->
                      <li class="seeAllFilterLink">
                        <a href="" class="seeMoreLink">See More</a>
                        <ul class="allFiltersList SaleBillAllFilterList">
                          <!-- <c:forEach items="${SaleBillFilterSeeMore}" var="filter"> -->
                          <li>
                            <a
                              href=""
                              class="filterLink SaleBillFilterName"
                              style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              "
                              >filter.name</a
                            >
                            <span class="SaleBillFilterId" style="display: none"
                              >filter.id</span
                            >
                            <div
                              class="SaleBillFilterReqData hoverData"
                              style="display: none"
                            >
                              filter.reqData
                            </div>
                          </li>
                          <!-- </c:forEach> -->
                        </ul>
                      </li>
                      <!-- </c:if> -->
                    </ul>
                  </li>
                  <li class="chooseCol">
                    <a href="">Choose Columns</a>
                  </li>
                  <li class="recordsPerPage">
                    <a href="">Records Per Page</a>
                  </li>
                  <li class="exportTableLink">
                    <a href="">Export Table</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="fleft tableNavDiv" id="salesBillTablePagination">
              <a href="" class="first first-page pageNumber">
                <img src="../../../assets/resources/images/first-page.png" />
              </a>
              <a href="" class="prev pageNumber">
                <img src="../../../assets/resources/images/prev-page.png" />
              </a>
              <span class="showingText">Page</span>
              <span class="pagedisplay"><span class="pageNum">1</span> </span>
              <!-- <c:choose>
                              <c:when test="${(totalSaleBillRecords mod 10)!=0}">
                                  <c:set var="res" value="${(totalSaleBillRecords - (totalSaleBillRecords mod SaleBillTableRecords))/SaleBillTableRecords + 1}"/>
                                  <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                                  <span class="totalPage">${totalPage}</span>
                              </c:when>
                              <c:otherwise>
                                  <c:set var="res" value="${totalSaleBillRecords/10}"/>
                                  <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                                  <span class="totalPage">${totalPage}</span>
                              </c:otherwise>
                            </c:choose> -->
              <a href="" class="next pageNumber">
                <img src="../../../assets/resources/images/next-page.png" />
              </a>
              <a href="" class="last last-page pageNumber">
                <img src="../../../assets/resources/images/last-page.png" />
              </a>
            </div>
          </div>
          <div class="cboth"></div>
        </div>
        <div class="recordsTableDiv">
          <table
            cellspacing="0"
            cellpadding="0"
            class="recordsTable"
            id="salesBillRecordsTable"
          >
            <thead>
              <tr>
                <th>S.N</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Per Unit Amount(Rs)</th>
                <th>Sold At</th>
              </tr>
            </thead>
            <tbody id="saleTable">
              <tr>
                <span class="noProdRecord">No records found</span>
              </tr>
              <!-- <c:forEach items="${salesBill}" var="product">  -->
              <tr
                *ngFor="
                  let invoice of salesBillInvoice.salesBillDetailsWithProd;
                  let i = index
                "
              >
                <td>{{ i + 1 }}</td>
                <td>{{ invoice.productName }}</td>
                <td>{{ invoice.qty }}</td>
                <td>{{ invoice.rate }}</td>
                <td>{{ invoice.date }}</td>
              </tr>
              <!-- </c:forEach>	 -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
