<!-- ending -->
<div class="popupHeading">
  <h2 class="fleft">Edit Product</h2>
  <a class="closeButton fright" id="closeEditButton"
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
  <div class="cboth"></div>
</div>
<div class="popupSubHeadingDiv addNewProduct">
  <h1 class="heading">Your can edit your product here</h1>
</div>
<div class="popupContentWrapper">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-popup class="m-4"></app-popup> -->
      <form
        #editProductForm="ngForm"
        name="editProduct"
        (ngSubmit)="editProduct(editProductForm)"
        id="editProductForm"
      >
        <div class="chooseColoumnsWrapper">
          <div class="fieldDiv popUpFormSectionWrapper">
            <table class="" cellpadding="0" cellspacing="0">
              <tr>
                <td class="col1 pt-2">
                  Seller Id :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="sellerId.invalid && sellerId.touched"
                    class="form-control"
                    id="sellerId"
                    #sellerId="ngModel"
                    required
                    name="sellerId"
                    [(ngModel)]="product.sellerId"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="sellerId.valid || sellerId.untouched"
                    >invalid sellerId</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Product Name:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="text"
                    [class.is-invalid]="name.invalid && name.touched"
                    class="form-control"
                    id="name"
                    #name="ngModel"
                    required
                    name="name"
                    [(ngModel)]="product.name"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="name.valid || name.untouched"
                    >invalid name</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Description :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <textarea
                    name="description"
                    [(ngModel)]="product.description"
                    required
                    #description="ngModel"
                    [class.is-invalid]="
                      description.invalid && description.touched
                    "
                    class="form-control"
                    id="description"
                    cols="30"
                    rows="2"
                  ></textarea>
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="description.valid || description.untouched"
                    >invalid description</small
                  >
                </td>
              </tr>
              <tr style="margin-bottom: 3px">
                <td>Select Category:</td>
                <td>
                  <select
                    id="parentId"
                    class="form-control"
                    style="width: 100%; height: 30px"
                    name="parnetId"
                    #parentId="ngModel"
                    [(ngModel)]="product.categoryId"
                    required
                  >
                    <option value="" disabled selected>Select an option</option>
                    <option
                      *ngFor="let option of availableCategories"
                      [value]="option.id"
                    >
                      {{ option.name }}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Selling Price:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="
                      sellingPrice.invalid && sellingPrice.touched
                    "
                    class="form-control"
                    id="sellingPrice"
                    #sellingPrice="ngModel"
                    name="sellingPrice"
                    required
                    sellingPrice="sellingPrice"
                    [(ngModel)]="product.sellingPrice"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="
                      sellingPrice.valid || sellingPrice.untouched
                    "
                    >invalid selling price</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Cost Price:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="costPrice.invalid && costPrice.touched"
                    class="form-control"
                    id="costPrice"
                    #costPrice="ngModel"
                    required
                    name="costPrice"
                    costPrice="costPrice"
                    [(ngModel)]="product.costPrice"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="costPrice.valid || costPrice.untouched"
                    >invalid costPrice</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Bar Code:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="text"
                    [class.is-invalid]="barcode.invalid && barcode.touched"
                    class="form-control"
                    id="barcode"
                    #barcode="ngModel"
                    name="barcode"
                    required
                    barcode="barcode"
                    [(ngModel)]="product.barcode"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="barcode.valid || barcode.untouched"
                    >invalid barcode</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Discount :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="discount.invalid && discount.touched"
                    class="form-control"
                    id="discount"
                    #discount="ngModel"
                    name="discount"
                    required
                    discount="discount"
                    [(ngModel)]="product.discount"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="discount.valid || discount.untouched"
                    >invalid discount</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Tax :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="tax.invalid && tax.touched"
                    class="form-control"
                    id="tax"
                    name="tax"
                    #tax="ngModel"
                    tax="tax"
                    [(ngModel)]="product.tax"
                    readOnly
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="tax.valid || tax.untouched"
                    >invalid tax</small
                  >
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="submit"
            class="submit_btn border-rad"
            id="submiteditProduct"
            value="Update "
            [disabled]="editProductForm.form.invalid"
          />

          <input
            type="button"
            value="Cancel"
            class="submit_btn cancel_btn border-rad ml-2"
          />
        </div>
      </form>
    </div>
  </div>
</div>
