<div
  class="popupHeading"
  *ngIf="customerMetaData.customers.length > 0 && showableALertPopup"
>
  <a
    class="Customer1CloseButton fright"
    id="closeCompanyPop"
    style="cursor: pointer !important"
    (click)="destroySelectCustomer()"
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
</div>
<div
  class="popupSubHeadingDiv selectcompanyomer"
  *ngIf="customerMetaData.customers.length > 0 && showableALertPopup"
>
  <h1 class="heading">Your can select your {{ title }} here</h1>
</div>
<tr
  class="text-center"
  *ngIf="customerMetaData.customers.length === 0 && showableALertPopup"
>
  <td colspan="9">
    <!--  -->
    <div class="popupSubHeadingDiv createsalesBill">
      <h1 class="heading">
        <i class="fa-solid fa-circle-exclamation"></i> No record found. Would
        you like to create customer?
        <a (click)="destroySelectCustomer()" style="cursor: pointer"
          ><img
            src="../../../assets/resources/images/removetablink.png"
            alt="close"
        /></a>
      </h1>
    </div>
    <div class="popupContentWrapper">
      <div class="row">
        <div class="col-md-4">
          <button class="submit_btn border-rad">
            <input
              #createCustomerBtn
              type="radio"
              name="createCustDecs"
              value="1"
              checked
              (keyup)="onButtonKeyUpForDispalyAddCustomerPopup($event)"
            />
            Yes
          </button>
        </div>
        <div class="col-md-4">
          <button class="submit_btn border-rad">
            <input
              class="btn"
              type="radio"
              name="createCustDecs"
              value="0"
              (keyup)="onButtonKeyUpForDispalyAddCustomerPopup($event)"
            />
            No
          </button>
        </div>
      </div>
    </div>

    <!-- end -->
    <!-- <span style="color: red">No records found !</span>
  <span>
    Would you like to create customer ?
    <input
      #createCustomerBtn
      type="radio"
      name="createCustDecs"
      value="1"
      checked
      (keyup)="onButtonKeyUpForDispalyAddCustomerPopup($event)"
    />
    Yes

    <input
      type="radio"
      name="createCustDecs"
      value="0"
      (keyup)="onButtonKeyUpForDispalyAddCustomerPopup($event)"
    />
    No
  </span> -->

    <button
      style="display: none"
      id="createNewCustomer"
      class="createNewTableRecord"
    ></button>
  </td>
</tr>
<div class="popupContentWrapper" *ngIf="customerMetaData.customers.length > 0">
  <div class="row">
    <div class="col-md-12">
      <div class="recordsTableDiv">
        <table
          cellspacing="0"
          cellpadding="0"
          class="recordsTable"
          id="ProductsRecordsTable"
        >
          <thead>
            <tr>
              <th class="last-child">Select</th>
              <th>S.N</th>
              <th
                class="first-child sortable"
                sortDir="asc"
                sortCol="organization_id"
                id="id"
              >
                Name
              </th>
              <th
                class="sortable"
                sortDir="asc"
                sortCol="organization_name"
                id="name"
              >
                PAN NO
              </th>
              <th
                class="sortable"
                sortDir="asc"
                sortCol="companyomer_name"
                id="costprice"
              >
                Phone
              </th>
              <th
                class="sortable"
                sortDir="asc"
                sortCol="master_name"
                id="sellingprice"
              >
                State
              </th>
              <th
                class="sortable"
                sortDir="asc"
                sortCol="product_group_name"
                id="barcode"
              >
                District
              </th>
              <th
                class="sortable"
                sortDir="asc"
                sortCol="product_group_name"
                id="discount"
              >
                Mun/Vdc
              </th>
              <th
                class="sortable"
                sortDir="asc"
                sortCol="product_group_name"
                id="tax"
              >
                Ward
              </th>
            </tr>
          </thead>
          <tbody id="prodTable">
            <tr
              *ngFor="
                let company of customerMetaData.customers;
                let index = index
              "
              id="company_{{ company.companyId }}"
            >
              <td>
                <span *ngIf="index === 0">
                  <input
                    type="radio"
                    name="selectUniqueCust"
                    *ngIf="index === 0"
                    #selectedCustomerBtn
                    checked
                    (keyup)="onButtonKeyUp($event, company.companyId)"
                    class="submit_btn border-rad"
                  />
                </span>

                <span *ngIf="index !== 0">
                  <input
                    type="radio"
                    (keyup)="onButtonKeyUp($event, company.companyId)"
                    name="selectUniqueCust"
                    class="submit_btn border-rad"
                  />
                </span>
              </td>
              <td>{{ index + 1 }}</td>
              <td>{{ company.name }}</td>
              <td>{{ company.panNo }}</td>
              <td>{{ company.phone }}</td>
              <td>{{ company.state }}</td>
              <td>{{ company.district }}</td>
              <td>{{ company.munVdc }}</td>
              <td>---</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="popupWrapper createCustomerPopUpWrapper"
  id="createNewCustomerPopup"
  style="display: none"
>
  <app-create-customer
    *ngIf="createCustomerEnable"
    (customerAddedSuccessMsg)="customerAdded($event)"
    [customerPanOrPhone]="customerMetaData.customerPanOrPhone"
    [title]="'customer'"
  ></app-create-customer>
</div>
