<div class="contentRecordsTableContainer MainContainer">
  <div class="" style="height: auto">
    <div>
      <div>
        <h2 class="text-center" id="totalGroupCombinations">Loan</h2>
      </div>
      <hr style="margin: 12px" />
    </div>

    <div class="searchCreateTableDiv" style="height: 513px">
      <div class="searchCreateDiv">
        <div class="fleft searchDiv" id="prodSearch">
          <input
            class="inputText hintText"
            type="text"
            search="off"
            value="Enter CustomerPartName/MasterPartName to Search"
          />
          <input
            type="image"
            src="../../../assets/resources/images/searchButton.png"
            class="serachButton"
            title="Search Term"
          />
          <a href="#" class="genLink">Clear searchs</a>
        </div>
        <div class="fright" class="createProductDiv">
          <a
            *ngIf="IsAuditor"
            href=""
            (click)="enableLoanComponent()"
            id="createNewLoan"
            class="createNewTableRecord"
          >
            <img src="../../../assets/resources/images/createProduct.png" />
            <span> Create Loan</span>
          </a>
        </div>
        <div class="cboth"></div>
      </div>
      <div class="tableWrapper">
        <div class="tablesettingDiv">
          <div class="fleft filterListWrapper">
            <div class="fleft">
              <span class="italicText"></span>
            </div>
            <ul
              class="fleft filtersDisplayList LoansTableFiltersDisplayList"
            ></ul>
            <div class="cboth"></div>
          </div>
          <div class="fright configNavTableWrapper">
            <div
              class="fleft configTableDiv newFilterItem"
              dropdownId="LoansTableFilters"
            >
              <a href="" class="">
                <img
                  src="../../../assets/resources/images/newfilter-bg.png"
                  alt="New Filter"
                  title="Add new filter"
                />
                <span id="newProductFilter" search="off">New Filter</span>
              </a>
            </div>
            <div class="fleft configTableDiv">
              <a href="" class="configTableLink">
                <img src="../../../assets/resources/images/config-bg.png" />
                <span>Configure Table</span>
                <img src="../../../assets/resources/images/th-sort-down.png" />
              </a>
              <div class="configTableDropdown" id="LoansTableFilters">
                <ul class="configOptionList" id="ProductConfigList">
                  <li class="filterItem">
                    <span>Recent Filters</span>
                    <ul class="filterList" id="ProductFilterList">
                      <!-- <c:if test="${not empty ProductFilters}"> -->
                      <!-- <c:forEach items="${ProductFilters}" var="filter"> -->
                      <li>
                        <a
                          href=""
                          class="filterLink ProductFilterName"
                          style="
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "
                          >filter.name</a
                        >
                        <span class="ProductFilterId" style="display: none"
                          >filter.id</span
                        >
                        <div
                          class="ProductFilterReqData hoverData"
                          style="display: none"
                        >
                          filter.reqData
                        </div>
                      </li>
                      <!-- </c:forEach> -->
                      <!-- </c:if> -->
                      <!-- <c:if test="${not empty ProductFilterSeeMore}"> -->
                      <li class="seeAllFilterLink">
                        <a href="" class="seeMoreLink">See More</a>
                        <ul class="allFiltersList ProductAllFilterList">
                          <!-- <c:forEach items="${ProductFilterSeeMore}" var="filter"> -->
                          <li>
                            <a
                              href=""
                              class="filterLink ProductFilterName"
                              style="
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                              "
                              >filter.name</a
                            >
                            <span class="ProductFilterId" style="display: none"
                              >filter.id</span
                            >
                            <div
                              class="ProductFilterReqData hoverData"
                              style="display: none"
                            >
                              filter.reqData
                            </div>
                          </li>
                          <!-- </c:forEach> -->
                        </ul>
                      </li>
                      <!-- </c:if> -->
                    </ul>
                  </li>
                  <li class="chooseCol">
                    <a href="">Choose Columns</a>
                  </li>
                  <li class="recordsPerPage">
                    <a href="">Records Per Page</a>
                  </li>
                  <li class="exportTableLink">
                    <a href="">Export Table</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="fleft tableNavDiv" id="LoansTablePagination">
              <!-- <a href="" class="first first-page pageNumber">
                <img src="../../../assets/resources/images/first-page.png" />
              </a> -->
              <a
                (click)="changePage('prev')"
                style="cursor: pointer"
                class="prev pageNumber"
              >
                <img src="../../../assets/resources/images/prev-page.png" />
              </a>
              <span class="showingText">Page</span>
              <span class="pagedisplay"
                ><span class="pageNum">{{ currentPageNumber }}</span>
              </span>
              <!-- <c:choose>
                              <c:when test="${(totalProductRecords mod 10)!=0}">
                                  <c:set var="res" value="${(totalProductRecords - (totalProductRecords mod ProductTableRecords))/ProductTableRecords + 1}"/>
                                  <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                                  <span class="totalPage">${totalPage}</span>
                              </c:when>
                              <c:otherwise>
                                  <c:set var="res" value="${totalProductRecords/10}"/>
                                  <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                                  <span class="totalPage">${totalPage}</span>
                              </c:otherwise>
                            </c:choose> -->
              <a
                (click)="changePage('next')"
                style="cursor: pointer"
                class="next pageNumber"
              >
                <img src="../../../assets/resources/images/next-page.png" />
              </a>
              <!-- <a href="" class="last last-page pageNumber">
                <img src="../../../assets/resources/images/last-page.png" />
              </a> -->
            </div>
          </div>
          <div class="cboth"></div>
        </div>
        <div class="recordsTableDiv">
          <table
            cellspacing="0"
            cellpadding="0"
            class="recordsTable"
            id="LoansRecordsTable"
          >
            <thead>
              <tr>
                <th
                  class="first-child sortable"
                  sortDir="asc"
                  sortCol="organization_id"
                  id="id"
                >
                  Loan Id
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="organization_name"
                  id="name"
                >
                  bankId
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="customer_name"
                  id="costprice"
                >
                  lenderId
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="master_name"
                  id="sellingprice"
                >
                  loanType
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="product_group_name"
                  id="barcode"
                >
                  loanNumber
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="product_group_name"
                  id="discount"
                >
                  loanName
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="product_group_name"
                  id="tax"
                >
                  loanAmount
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="product_group_name"
                  id="userId"
                >
                  receivedAmount
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="product_group_name"
                  id="companyId"
                >
                  serviceCharge
                </th>
                <th
                  class="sortable"
                  sortDir="asc"
                  sortCol="product_group_name"
                  id="companyId"
                >
                  otherExpenses
                </th>
                <th class="last-child">Actions</th>
              </tr>
            </thead>
            <tbody id="prodTable">
              <tr>
                <span class="noProdRecord">No records found</span>
              </tr>
              <!-- <c:forEach items="${Loans}" var="product">  -->
              <tr *ngFor="let loan of loans" id="loan_{{ loan.id }}">
                <td>{{ loan.id }}</td>
                <td>{{ loan.bankId }}</td>
                <td>{{ loan.lenderId }}</td>
                <td>{{ loan.loanType }}</td>
                <td>{{ loan.loanType }}</td>
                <td>{{ loan.loanNumber }}</td>
                <td>{{ loan.loanName }}</td>
                <td>{{ loan.loanAmount }}</td>
                <td>{{ loan.receivedAmount }}</td>
                <td>{{ loan.serviceCharge }}</td>
                <td class="last-child">
                  <a
                    *ngIf="IsAuditor"
                    (click)="loanForUpdate(loan.id)"
                    id="editLoan"
                    class="createNewTableRecord"
                  >
                    <img src="../../../assets/resources/images/editRow.png" />
                  </a>
                  <a *ngIf="IsAuditor" (click)="deleteLoan(loan.id)" class="">
                    <img src="../../../assets/resources/images/deleteRow.png" />
                  </a>
                </td>
              </tr>
              <!-- </c:forEach>	 -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="popupWrapper" id="createNewLoanPopup" style="display: none">
      <div class="mb-2"></div>
      <app-create-loan
        *ngIf="createLoanEnable"
        (destroyCreateLoanComp)="disableLoanComponent($event)"
      ></app-create-loan>
    </div>

    <div class="popupWrapper" id="editLoanPopup" style="display: none">
      <app-edit-loan
        *ngIf="updateLoanEnable"
        [loanId]="loanForUpdateId"
        (destroyEditLoanComp)="disableEditComponent($event)"
      >
      </app-edit-loan>
    </div>
  </div>
</div>
