<script src="../../../../assets/resources/js/main.js"></script>
<div id="headerWrapper" class="headerWrapper">
  <div class="logoutDiv">
    <div class="fright" style="padding-right: 30px">
      <a href="/login">
        <img
          src="../../../../assets/resources/images/logout-bg.png"
          class="logoutImage"
        />
        <span>logout</span>
      </a>
    </div>
    <div class="fright" style="padding-right: 30px">
      <a href="/company">
        <img
          src="../../../../assets/resources/images/logout-bg.png"
          class="logoutImage"
        />
        <span>Switch Company</span>
      </a>
    </div>

    <div class="cboth"></div>
  </div>
  <div class="headerNav">
    <div class="fleft">
      <img
        src="../../../../assets/resources/images/logo.png"
        alt="Pricer Manager"
      />
    </div>
    <div class="fright mainNavWrapper">
      <ul class="mainNavList">
        <li>
          <a href="" id="configurationLink">
            <img
              src="../../../../assets/resources/images/configuration-bg.png"
            />
            <span>User Configuration</span>
          </a>
        </li>
        <li>
          <a href="" id="pricingPreferencesLink">
            <img src="../../../../assets/resources/images/pricing-bg.png" />
            <span>Branch</span>
          </a>
        </li>
        <li>
          <a href="" id="administratorLink">
            <img
              src="../../../../assets/resources/images/administrator-bg.png"
            />
            <span>Administrator</span>
          </a>
        </li>
        <li>
          <a href="" id="reportsLink">
            <img src="../../../../assets/resources/images/reports-bg.png" />
            <span>Reports</span>
          </a>
        </li>
        <li class="last-child">
          <a href="" id="helpLink">
            <img src="../../../../assets/resources/images/help-bg.png" />
            <span>Help</span>
          </a>
          <div class="helpDropdown" id="helpDropDownList">
            <ul class="helpOptionsList">
              <li class="">
                <a href=""> Help</a>
              </li>
              <li class="">
                <a href="">About Iaccounting</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="cboth"></div>
  </div>

  <!--- User Configuration Popup -->
  <div class="popupWrapper" id="configurationSettingPopup" style="width: auto">
    <div class="popupHeading">
      <h2 class="fleft">Configuration</h2>
      <a href="" class="closeButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv configurationSubHeading">
      <h1 class="heading">Configuration</h1>
      <div>Configure application.</div>
    </div>
    <div class="popupContentWrapper configPopupWrapper">
      <form id="" action="" method="">
        <div class="tabListWrapper">
          <ul class="tabList popupTablist" id="configurationTabList">
            <li class="active">
              <a href="" class="fleft tab-1 confTab1" tab="1">Users</a>
            </li>
            <li>
              <a href="" class="fleft tab-2 confTab2" tab="2">Role</a>
            </li>
            <li>
              <a href="" class="fleft tab-3 confTab3" tab="3">Company</a>
            </li>
          </ul>
        </div>
        <div style="width: max-content" class="popupFormField">
          <div id="configurationTabList-Div">
            <div class="tabs-section tab-1">
              <div class="fleft searchDiv" id="prodSearch">
                <input
                  class="inputText hintText"
                  type="text"
                  search="off"
                  value="Search"
                />

                <a href="#" class="genLink">Clear searchs</a>
              </div>
              <div style="padding-bottom: 15px">
                <button
                  class="submit_btn border-rad fright createNewTableRecord"
                  id="AddNewUser"
                >
                  Assign Company
                </button>
              </div>
              <div class="queryResultWrapper">
                <table
                  cellspacing="0"
                  cellpadding="0"
                  class="recordsTable pricingPrefTable"
                >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Company</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!--  -->

                  <tbody *ngFor="let userconfig of UsersByCompanyId">
                    <tr *ngIf="userconfig.userId != loggedInUser.user.id">
                      <td>
                        {{ userconfig.firstName }}
                        {{ userconfig.lastName }}
                      </td>
                      <td>{{ userconfig.email }}</td>
                      <td>{{ companyName }}</td>
                      <td>
                        <div style="display: flex; padding: 2px">
                          <input
                            type="checkbox"
                            id="scales"
                            name="scales"
                            [checked]="userconfig.companyStatus"
                            (change)="
                              onCheckboxChanged($event, userconfig.userId)
                            "
                          />
                          <label for="scales">Enabled / </label>
                          <a
                            class="register_btn_addrole border-rad register-button createNewTableRecord"
                            value="change"
                            id="createNewAssign"
                            (click)="addRole(userconfig)"
                            >Add Role</a
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div></div>
            </div>
            <div class="tabs-section tab-2">
              <div class="fieldDiv popUpFormSectionWrapper">
                <div class="configListItem">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    class="recordsTable pricingPrefTable"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Role</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let userConfig of userconfiguration">
                      <tr *ngIf="userConfig.userId != loggedInUser.user.id">
                        <td>
                          {{ userConfig.firstName }}
                          {{ userConfig.lastName }}
                        </td>

                        <td>{{ userConfig.companyName }}</td>
                        <td>
                          <div style="display: flex; padding: 2px">
                            <div>
                              <input
                                type="checkbox"
                                id="scales"
                                name="scales"
                                [checked]="userConfig.role == userConfig.role"
                                (change)="
                                  onRoleChecked(
                                    userConfig.userId,
                                    userConfig.roleId
                                  )
                                "
                              />
                              <label for="scales">{{ userConfig.role }} </label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tabs-section tab-3">
              <div class="fieldDiv popUpFormSectionWrapper">
                <div class="configListItem">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    class="recordsTable pricingPrefTable"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let companyData of UsersByCompanyId">
                      <tr *ngIf="companyData.userId != loggedInUser.user.id">
                        <td>
                          {{ companyData.firstName }}
                          {{ companyData.lastName }}
                        </td>

                        <td>{{ companyData.companyName }}</td>
                        <td>
                          <div style="display: flex; padding: 2px">
                            <div>
                              <input
                                type="checkbox"
                                id="scales"
                                name="scales"
                                [checked]="companyData.companyStatus"
                                (change)="
                                  onCompanyCheckboxChanged(
                                    $event,
                                    companyData.userId
                                  )
                                "
                              />
                              <label for="scales">Enable</label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="button"
            value="Save"
            class="submit_btn border-rad"
            id="configurationBtn"
          />
          <input
            type="button"
            value="Cancel"
            class="submit_btn cancel_btn border-rad"
          />
        </div>
      </form>
    </div>
    <div
      class="popupWrapper alertConfPopup"
      style="width: auto"
      id="confirmDeleteSettings"
    >
      <div class="popupHeading">
        <h2 class="fleft">Confirm</h2>
        <a href="" class="closeButton fright"
          ><img
            src="../../../../assets/resources/images/removetablink.png"
            alt="close"
        /></a>
        <div class="cboth"></div>
      </div>
      <div class="popupContentWrapper">
        <form>
          <div class="contentDiv">
            <div class="contentChildTextDiv">Your Changes will be lost.</div>
            <div class="contentChildTextDiv">
              Click OK to continue or Cancel to discard.
            </div>
          </div>
          <div class="submitDiv tCenter">
            <input
              type="button"
              value="Register Now"
              class="submit_btn border-rad blueGradient resetSettings"
            />
            <input
              type="button"
              value="Cancel"
              class="submit_btn cancel_btn border-rad"
            />
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Branch Configuration Pop -->

  <div class="popupWrapper" id="pricingPreferencePopup" style="display: none">
    <div class="popupHeading">
      <h2 class="fleft">Branch</h2>
      <a href="" class="closeButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv pricingPreferenceSubHeading">
      <h1 class="heading">Branch</h1>
      <div>View/add Branch.</div>
    </div>
    <div class="popupContentWrapper">
      <table
        cellspacing="0"
        cellpadding="0"
        class="recordsTable pricingPrefTable"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Abbrv</th>
            <th>Pan No</th>
            <th>Address</th>
            <th>phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let branch of branch">
          <tr>
            <td>
              {{ branch.name }}
            </td>
            <td>{{ branch.abbrv }}</td>
            <td>{{ branch.panNo }}</td>
            <td>{{ branch.zone }},{{ branch.district }}</td>
            <td>{{ branch.phone }}</td>

            <td>
              <a
                class="register_btn_addrole border-rad register-button createNewTableRecord"
                value="change"
                (click)="onAssinBranchButtonClick(branch.id)"
                id="assignNewBranch"
                >Assign Branch</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <div style="margin: 10px">
        <a
          class="register_btn border-rad register-button createNewTableRecord"
          id="createNewBranch"
          value=""
          style="color: white"
          >Create New branch</a
        >
      </div>
    </div>
  </div>

  <div
    class="popupWrapper popupwrapperSmall"
    id="administratorPopup"
    style="display: none"
  >
    <div class="popupHeading">
      <h2 class="fleft">Administrator</h2>
      <a href="" class="closeButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv administratorSubHeading">
      <h1 class="heading">Administrator</h1>
      <div>Adminstrator preferences</div>
    </div>
    <div class="popupContentWrapper">
      <form id="" action="" method="">
        <div class="chooseColoumnsWrapper" style="padding: 5px">
          <div class="fieldDiv popUpFormSectionWrapper">
            <div class="setDiv" style="margin-bottom: 20px">
              <div class="sectionHeading">Update References</div>
              <input
                id="updateRefBtn"
                type="image"
                src="../../../../assets/resources/images/updateRefBtn.png"
                value="Update References"
              />
            </div>
            <div class="setDiv" style="margin-bottom: 10px">
              <div class="sectionHeading">SQL tracing</div>
              <label for="sqlTracingCheck">
                <input type="checkbox" id="sqlTracingCheck" />
                <span class=""> Turn on SQL tracing </span>
              </label>
            </div>
          </div>
        </div>
        <div class="submitDiv tCenter" style="padding-top: 0px">
          <!-- <input type="button" value="Create" class="submit_btn border-rad" id="addCustomer"/> -->
          <input
            type="button"
            value="Close"
            class="submit_btn cancel_btn border-rad"
          />
        </div>
      </form>
    </div>
  </div>

  <div
    class="popupWrapper popupwrapperSmall"
    id="recordsPerPagePopUp"
    style="display: none"
  >
    <div class="popupHeading">
      <h2 class="fleft">Records Per Page</h2>
      <a href="" class="closeButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupContentWrapper">
      <form id="recordPerPageForm">
        <div class="chooseColoumnsWrapper create_group_wrapper_popup">
          <div class="fieldDiv popUpFormSectionWrapper">
            <table class="formSection" cellpadding="0" cellspacing="0">
              <tr>
                <td class="col1">Records:</td>
                <td class="col2">
                  <input
                    type="text"
                    id="records"
                    class="inputText mandatory"
                    title="Enter Text"
                  />
                  <span class="validationMsg"
                    ><br />Please enter a number.</span
                  >
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="button"
            value="Set"
            class="submit_btn border-rad submitBtn"
            id="recordsPerPage"
          />
          <input
            type="button"
            value="Cancel"
            class="submit_btn cancel_btn border-rad"
          />
        </div>
      </form>
    </div>
  </div>

  <div class="popupWrapper" id="reportsPopup" style="display: none">
    <div class="popupHeading">
      <h2 class="fleft">Reports</h2>
      <a href="" class="closeButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv reportsSubHeading">
      <h1 class="heading">Reports</h1>
      <div>Create and run Queries.</div>
    </div>
    <div class="popupContentWrapper">
      <form id="" action="" method="">
        <div class="setDiv">
          <div class="fleft">
            <span>Choose Report Query: </span>
            <select class="inputText querySelect">
              <option>Query 1</option>
              <option>Query 2</option>
              <option>Query 3</option>
              <option>Query 4</option>
            </select>
          </div>
          <div class="fright">
            <a href="#" class="newReportQueryLink">
              <img
                src="../../../../assets/resources/images/createNewQuery.png"
                alt=""
              />
              <span>Create New Report Query</span>
            </a>
          </div>
          <div class="cboth"></div>
        </div>
        <div class="queryWrapper">
          <div class="recordCategory">
            <h2 class="fleft">Query A</h2>
            <div class="cboth"></div>
          </div>
          <div class="popupFormField">
            <div class="queryWrittenArea">
              <h2 class="queryHeading">Query</h2>
              <textarea class="queryTextarea"> </textarea>
              <div class="fright">
                <a href="#">
                  <img
                    src="../../../../assets/resources/images/execute-query.png"
                  />
                </a>
              </div>
              <div class="cboth"></div>
            </div>
            <div class="queryResultWrapper">
              <table
                cellspacing="0"
                cellpadding="0"
                class="recordsTable pricingPrefTable"
              >
                <thead>
                  <tr>
                    <th>tril_grid</th>
                    <th>Modification date</th>
                    <th>Amount</th>
                    <th>end_date</th>
                    <th>high_range</th>
                    <th>low_range</th>
                    <th>object_name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="queryOperationsWrapper">
              <input
                type="button"
                class="border-rad submit_btn"
                value="Save Query"
              />
              <input
                type="button"
                class="border-rad submit_btn"
                value="Delete Query"
              />
              <input
                type="button"
                class="border-rad submit_btn mr0"
                value="Export Query Result"
              />
            </div>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="button"
            value="Close"
            class="submit_btn cancel_btn border-rad"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Pop for assign Company-->

<div class="popupWrapper" id="createNewAssignPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Register</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Register</h1>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <div class="recordsTableDiv">
            <table
              cellspacing="0"
              cellpadding="0"
              class="recordsTable"
              id="salesBillsRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    style="background: darkgray"
                    id="costprice"
                  >
                    User
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                    id="name"
                  >
                    Company
                  </th>
                </tr>
              </thead>
              <tbody id="prodTable">
                <tr>
                  <td>
                    {{ userconfiguration[0].firstName }}
                    {{ userconfiguration[0].lastName }}
                  </td>
                  <td>{{ userconfiguration[0].companyName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="container" style="margin-top: 10px">
            <span>Roles</span>
            <div style="border-bottom: 2px solid #bdbdbd"></div>
            <div style="margin: 4px" *ngFor="let role of role">
              <div style="margin: 1px">
                <input
                  type="checkbox"
                  [checked]="hasRole(role.role)"
                  (change)="onRoleChecked(userconfiguration[0].userId, role.id)"
                  value="admin"
                />
                <Label>{{ role.role }}</Label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="OK"
          class="submit_btn border-rad"
          (click)="onClicked()"
          id="addProduct"
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
</div>

<!-- popup for add User -->
<div class="popupWrapper" id="AddNewUserPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Assign Company</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Assign Company</h1>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <div class="recordsTableDiv">
            <table
              cellspacing="0"
              cellpadding="0"
              class="recordsTable"
              id="salesBillsRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    style="background: darkgray"
                  >
                    First Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Last Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Email
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Assign
                  </th>
                </tr>
              </thead>

              <tbody id="prodTable" *ngFor="let allUser of allUser">
                <tr *ngIf="allUser.userId != loggedInUser.user.id">
                  <td>
                    <a>{{ allUser.firstName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.lastName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.email }}</a>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      (change)="onAssignCompanyChange($event, allUser.userId)"
                    />
                    <label for="input"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="OK"
          class="submit_btn border-rad"
          (click)="onClicked()"
          id=""
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
</div>

<!-- PopUp For branch -->

<div class="popupWrapper" id="createNewBranchPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Register Branch</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Register Branch</h1>
    <div>Create a new Branch.</div>
  </div>
  <div class="popupContentWrapper">
    <form
      id="createProduct"
      [formGroup]="BranchRegistrationForm"
      (ngSubmit)="registerBranch()"
    >
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">Name:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="BranchName"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Name.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Abbvr:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="BranchAbbvr"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid abbr.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Description:<span class=""></span></td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText"
                  formControlName="BranchDescription"
                  title="Enter Text"
                  id="custPartName"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Pan-Number:<span class=""></span></td>

              <td class="col3">
                <input
                  type="number"
                  class="inputText"
                  title="Enter Text"
                  formControlName="BranchPanNo"
                  id="custPartName"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">State:<span class="mandatorySign"></span></td>

              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  formControlName="BranchState"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid State.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
            <div class="cboth"></div>
            <tr>
              <td class="col1">Zone:<span class="mandatorySign"></span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="BranchZone"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Zone.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
            <tr>
              <td class="col1">District:<span class="mandatorySign"></span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="BranchDistrict"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid District name.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">
                Muncipality/VDC:<span class="mandatorySign"></span>
              </td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="BranchMunVdc"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Muncipality/VDC .</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Ward no:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="BranchWardNo"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Ward no.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Phone:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="BranchPhone"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Phone.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Register"
          class="submit_btn border-rad"
          id="addProduct"
        />

        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
</div>

<!-- assign branch popup -->
<div class="popupWrapper" id="assignNewBranchPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Assign Branch</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Assign Branch</h1>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <div class="recordsTableDiv">
            <table
              cellspacing="0"
              cellpadding="0"
              class="recordsTable"
              id="salesBillsRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    style="background: darkgray"
                  >
                    First Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Last Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Email
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Assign
                  </th>
                </tr>
              </thead>

              <tbody id="prodTable" *ngFor="let allUser of allUser">
                <tr *ngIf="allUser.userId != loggedInUser.user.id">
                  <td>
                    <a>{{ allUser.firstName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.lastName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.email }}</a>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      (change)="onAssignBranchChange($event, allUser.userId)"
                    />
                    <label for="input"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="OK"
          class="submit_btn border-rad"
          (click)="onClicked()"
          id=""
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
</div>
