<script src="../../../../assets/resources/js/main.js"></script>
<div id="headerWrapper" class="headerWrapper" style="background-color: #b9c5d5;">
  <div class="logoutDiv">
    <div class="fright" style="padding-right: 17px">
      <div class="profile" #profile style="padding-right: 20px">
        <button class="profile-button">
          <img
            src="../../../../assets/images/Users-Name-icon.png"
            alt="Profile Image"
          />
        </button>
        <div class="profile-card" #profileCard>
          <div class="profile-card-header">
            <img
              src="../../../../assets/images/Users-Name-icon.png"
              alt="Profile Image"
            />
            <div class="profile-card-header-info">
              <h3>
                {{ loggedInUser.user.firstname }}
                {{ loggedInUser.user.lastname }}
              </h3>
              <p>{{ loggedInUser.user.email }}</p>
            </div>
          </div>
          <div class="profile-card-body">
            <ul>
              <li>
                <i
                  class="fa-regular fa-pen-to-square fa-xl"
                  style="color: #23592c"
                ></i>
                <span style="padding-left: 10px">Edit</span>
              </li>
              <li>
                <i
                  class="fa-regular fa-building fa-xl"
                  style="color: #23592c"
                ></i>
                <span style="padding-left: 10px">Company</span>
              </li>

              <li>
                <a (click)="logout()" href="/login">
                  <img
                    src="../../../../assets/resources/images/logout-bg.png"
                    class="logoutImage"
                  />
                  <span> logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="fright" style="padding-right: 30px; padding-top: 10px">
      <a (click)="OnSwitchCompany()" href="/company">
        <img
          src="../../../../assets/resources/images/logout-bg.png"
          class="logoutImage"
        />
        <span>Switch Company</span>
      </a>
    </div>

    <div class="cboth"></div>
  </div>
  <div class="headerNav">
    <div class="fleft">
      <img
        src="../../../../assets/resources/images/logo.png"
        alt="Pricer Manager"
      />
    </div>
    <div class="fright mainNavWrapper">
      <ul class="mainNavList">
        <li *ngIf="IsAdmin">
          <a href="" id="configurationLink">
            <img
              src="../../../../assets/resources/images/configuration-bg.png"
            />
            <span>User Configuration</span>
          </a>
        </li>
        <li *ngIf="IsAdmin">
          <a href="" id="pricingPreferencesLink">
            <img src="../../../../assets/resources/images/pricing-bg.png" />
            <span>Branch</span>
          </a>
        </li>
        <li>
          <a href="" id="administratorLink">
            <img
              src="../../../../assets/resources/images/administrator-bg.png"
            />
            <span>Administrator</span>
          </a>
        </li>
        <li>
          <a href="" id="reportsLink">
            <img src="../../../../assets/resources/images/reports-bg.png" />
            <span>Reports</span>
          </a>
        </li>
        <li class="last-child">
          <a href="" id="helpLink">
            <img src="../../../../assets/resources/images/help-bg.png" />
            <span>Help</span>
          </a>
          <div class="helpDropdown" id="helpDropDownList">
            <ul class="helpOptionsList">
              <li class="">
                <a href=""> Help</a>
              </li>
              <li class="">
                <a href="">About Iaccounting</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="cboth"></div>
  </div>

  <!--- User Configuration Popup -->
  <div
    class="popupWrapper MainPopupCloser"
    id="configurationSettingPopup"
    style="width: auto"
  >
    <div class="popupHeading">
      <h2 class="fleft">Configuration</h2>
      <a href="" class="MainPageCloseButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv configurationSubHeading">
      <h1 class="heading">Configuration</h1>
      <div>Configure application.</div>
    </div>
    <div class="popupContentWrapper configPopupWrapper">
      <form>
        <div class="tabListWrapper">
          <ul class="tabList popupTablist" id="configurationTabList">
            <li class="active">
              <a href="" class="fleft tab-1 confTab1" tab="1">Users</a>
            </li>
            <li>
              <a href="" class="fleft tab-2 confTab2" tab="2">Role</a>
            </li>
            <li>
              <a href="" class="fleft tab-3 confTab3" tab="3">Company</a>
            </li>
            <li>
              <a href="" class="fleft tab-4 confTab4" tab="4"
                >User Feature Controls</a
              >
            </li>
          </ul>
        </div>
        <div style="min-width: 500px; width: auto" class="popupFormField">
          <div id="configurationTabList-Div">
            <div class="tabs-section tab-1">
              <div class="fleft searchDiv" id="prodSearch">
                <input
                  class="inputText hintText"
                  type="text"
                  search="off"
                  value="Search"
                />

                <a href="#" class="genLink">Clear searchs </a>
              </div>
              <div style="padding-bottom: 15px">
                <button
                  class="submit_btn border-rad fright createNewTableRecord"
                  id="AddNewUser"
                >
                  Assign Company
                </button>
              </div>
              <div class="queryResultWrapper">
                <table
                  cellspacing="0"
                  cellpadding="0"
                  class="recordsTable pricingPrefTable"
                >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Company</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!--  -->

                  <tbody *ngFor="let userconfig of UsersByCompanyId">
                    <tr *ngIf="userconfig.userId != loggedInUser.user.id">
                      <td>
                        {{ userconfig.firstName }}
                        {{ userconfig.lastName }}
                      </td>
                      <td>{{ userconfig.email }}</td>
                      <td>{{ companyName }}</td>
                      <td>
                        <div style="display: flex; padding: 2px">
                          <div>
                            <input
                              type="checkbox"
                              id="scales"
                              name="scales"
                              [checked]="userconfig.companyStatus"
                              (change)="
                                onCheckboxChanged($event, userconfig.userId)
                              "
                            />
                            <label for="scales">Enabled / </label>
                            <a
                              class="register_btn_addrole border-rad register-button createNewTableRecord"
                              style="
                                color: #2868c3;
                                font-size: 13px;
                                text-decoration: underline;
                              "
                              value="change"
                              id="createNewAssign"
                              (click)="
                                addRole(
                                  userconfig.userId,
                                  userconfig.firstName,
                                  userconfig.lastName
                                )
                              "
                              >Add Role</a
                            >
                            <a
                              class="register_btn_addrole border-rad register-button createNewTableRecord"
                              style="
                                color: #2868c3;
                                font-size: 13px;
                                text-decoration: underline;
                              "
                              value="change"
                              id="AssignfeatureControl"
                              (click)="addControl(userconfig.userId)"
                              >/Add Control
                            </a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div></div>
            </div>
            <div class="tabs-section tab-2">
              <div class="fieldDiv popUpFormSectionWrapper">
                <div class="configListItem">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    class="recordsTable pricingPrefTable"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Role</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let userConfig of userRoleconfiguration">
                      <tr *ngIf="userConfig.userId != loggedInUser.user.id">
                        <td>
                          {{ userConfig.firstName }}
                          {{ userConfig.lastName }}
                        </td>

                        <td>{{ companyName }}</td>
                        <td>
                          <div style="display: flex; padding: 2px">
                            <div>
                              <input
                                type="checkbox"
                                id="scales"
                                name="scales"
                                [checked]="userConfig.roleStatus"
                                (change)="
                                  onRoleInConfigurationChecked(
                                    $event,
                                    userConfig.userId,
                                    userConfig.roleId
                                  )
                                "
                              />
                              <label for="scales">{{ userConfig.role }} </label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="tabs-section tab-3">
              <div class="fieldDiv popUpFormSectionWrapper">
                <div class="configListItem">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    class="recordsTable pricingPrefTable"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let companyData of UsersByCompanyId">
                      <tr *ngIf="companyData.userId != loggedInUser.user.id">
                        <td>
                          {{ companyData.firstName }}
                          {{ companyData.lastName }}
                        </td>

                        <td>{{ companyName }}</td>
                        <td>
                          <div style="display: flex; padding: 2px">
                            <div>
                              <input
                                type="checkbox"
                                id="scales"
                                name="scales"
                                [checked]="companyData.companyStatus"
                                (change)="
                                  onCompanyCheckboxChanged(
                                    $event,
                                    companyData.userId
                                  )
                                "
                              />
                              <label for="scales">Enable</label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="tabs-section tab-4">
              <app-user-feature-list
                [IsTriggered]="triggerTheUserfeatureListing"
                [headerEvent]="enableDiableFeaureTriggered"
                (data)="enableDisableFeatureControl($event)"
              ></app-user-feature-list>
            </div>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="button"
            value="Save"
            (click)="UserConfigurationTabs()"
            class="submit_btn MainPageCloseButton border-rad"
            id=""
          />
          <input
            type="button"
            value="Cancel"
            class="submit_btn MainPageCloseButton border-rad"
          />
        </div>
      </form>
    </div>
  </div>

  <!-- Branch Configuration Pop -->

  <div
    class="popupWrapper MainPopupCloser"
    id="pricingPreferencePopup"
    style="width: auto"
  >
    <div class="popupHeading">
      <h2 class="fleft">Branch</h2>
      <a href="" class="MainPageCloseButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv pricingPreferenceSubHeading">
      <h1 class="heading">Branch</h1>
      <div>View/add Branch.</div>
    </div>
    <div class="popupContentWrapper configPopupWrapper">
      <form>
        <div class="tabListWrapper">
          <ul class="tabList popupTablist" id="configurationTabList">
            <li class="active">
              <a href="" class="fleft tab-1 confTab1" tab="1">Branch</a>
            </li>
            <li>
              <a href="" class="fleft tab-2 confTab2" tab="2">Branch User</a>
            </li>
            <li>
              <a href="" class="fleft tab-3 confTab3" tab="3">Counter</a>
            </li>
            <li>
              <a href="" class="fleft tab-4 confTab4" tab="4">Counter Users</a>
            </li>
          </ul>
        </div>
        <div style="width: max-content; height: auto" class="popupFormField">
          <div id="configurationTabList-Div">
            <div class="tabs-section tab-1">
              <div class="fleft searchDiv" id="prodSearch">
                <input
                  class="inputText hintText"
                  type="text"
                  search="off"
                  value="Search"
                />

                <a href="#" class="genLink">Clear searchs</a>
              </div>

              <div class="queryResultWrapper">
                <table
                  cellspacing="0"
                  cellpadding="0"
                  class="recordsTable pricingPrefTable"
                >
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Abbrv</th>
                      <th>Address</th>
                      <th>phone</th>
                      <th>Action</th>
                      <th>Counter</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let branch of branch">
                    <tr>
                      <td>
                        {{ branch.name }}
                      </td>
                      <td>{{ branch.abbrv }}</td>
                      <td>{{ branch.district }}</td>
                      <td>{{ branch.phone }}</td>

                      <td>
                        <a
                          class="register_btn_addrole createNewTableRecord"
                          style="
                            color: #2868c3;
                            font-size: 13px;
                            text-decoration: underline;
                          "
                          value="change"
                          (click)="onAssinBranchButtonClick(branch.id)"
                          id="assignNewBranch"
                          >Assign Branch</a
                        >
                      </td>
                      <td>
                        <a
                          class="register_btn_addrole border-rad register-button createNewTableRecord"
                          style="
                            color: #2868c3;
                            font-size: 13px;
                            text-decoration: underline;
                          "
                          value="change"
                          id="createNewCounter"
                          (click)="getBranchIdForCounter(branch.id)"
                          >Create Counter</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="margin: 10px">
                  <a
                    class="register_btn border-rad register-button createNewTableRecord"
                    id="createNewBranch"
                    value=""
                    style="color: white"
                    >Create New branch</a
                  >
                </div>
              </div>

              <div></div>
            </div>
            <div class="tabs-section tab-2">
              <div class="fieldDiv popUpFormSectionWrapper">
                <div class="configListItem">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    class="recordsTable pricingPrefTable"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>User Phone</th>
                        <th>Branch Name</th>
                        <th>Address</th>
                        <th>Branch Phone</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let branchuser of branchUsers">
                      <tr>
                        <td>
                          {{ branchuser.firstName }} {{ branchuser.lastName }}
                        </td>
                        <td>{{ branchuser.email }}</td>
                        <td>{{ branchuser.userPhone }}</td>
                        <td>{{ branchuser.branchName }}</td>
                        <td>{{ branchuser.branchDistrict }}</td>
                        <td>{{ branchuser.branchPhone }}</td>
                        <td>
                          <div style="display: flex; padding: 2px">
                            <div>
                              <input
                                type="checkbox"
                                id="scales"
                                name="scales"
                                [checked]="branchuser.branchStatus"
                                (change)="
                                  onBranchCheckboxChanged(
                                    $event,
                                    branchuser.userId,
                                    branchuser.branchId
                                  )
                                "
                              />
                              <label for="scales">Enable</label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Counter Tab -->

            <div class="tabs-section tab-3">
              <div class="fieldDiv popUpFormSectionWrapper">
                <div class="configListItem">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    class="recordsTable pricingPrefTable"
                  >
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Branch Id</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let counter of counter">
                      <tr>
                        <td>
                          {{ counter.id }}
                        </td>
                        <td>{{ counter.name }}</td>
                        <td>{{ counter.branchId }}</td>
                        <td>{{ counter.date | date }}</td>
                        <td>{{ counter.status }}</td>
                        <td>
                          <div style="display: flex; padding: 2px">
                            <div>
                              <input
                                type="checkbox"
                                id="scales"
                                name="scales"
                                [checked]="counter.status"
                                (change)="
                                  onCounterCheckboxChanged($event, counter.id)
                                "
                              />
                              <label for="scales">Enable /</label>
                              <a
                                (click)="
                                  setValuesForAssignCounter(
                                    counter.id,
                                    counter.branchId
                                  )
                                "
                                class="register_btn_addrole border-rad register-button createNewTableRecord"
                                style="
                                  color: #2868c3;
                                  font-size: 13px;
                                  text-decoration: underline;
                                "
                                value="change"
                                id="AssignCounter"
                                >Assign Counter</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Counter User -->
            <div class="tabs-section tab-4">
              <app-counter-user-list
                (data)="enableDisableCounterUserData($event)"
              ></app-counter-user-list>
            </div>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="button"
            value="Save"
            (click)="BranchConfigurationTabs()"
            class="submit_btn MainPageCloseButton border-rad"
            id=""
          />
          <input
            type="button"
            value="Cancel"
            class="submit_btn MainPageCloseButton border-rad"
          />
        </div>
      </form>
    </div>
  </div>

  <div
    class="popupWrapper popupwrapperSmall"
    id="administratorPopup"
    style="display: none"
  >
    <div class="popupHeading">
      <h2 class="fleft">Administrator</h2>
      <a href="" class="JoshiCloseButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupSubHeadingDiv administratorSubHeading">
      <h1 class="heading">Administrator</h1>
      <div>Adminstrator preferences</div>
    </div>
    <div class="popupContentWrapper">
      <form id="" action="" method="">
        <div class="chooseColoumnsWrapper" style="padding: 5px">
          <div class="fieldDiv popUpFormSectionWrapper">
            <div class="setDiv" style="margin-bottom: 20px">
              <div class="sectionHeading">Update References</div>
              <input
                id="updateRefBtn"
                type="image"
                src="../../../../assets/resources/images/updateRefBtn.png"
                value="Update References"
              />
            </div>
            <div class="setDiv" style="margin-bottom: 10px">
              <div class="sectionHeading">SQL tracing</div>
              <label for="sqlTracingCheck">
                <input type="checkbox" id="sqlTracingCheck" />
                <span class=""> Turn on SQL tracing </span>
              </label>
            </div>
          </div>
        </div>
        <div class="submitDiv tCenter" style="padding-top: 0px">
          <!-- <input type="button" value="Create" class="submit_btn border-rad" id="addCustomer"/> -->
          <input
            type="button"
            value="Close"
            class="submit_btn cancel_btn border-rad"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Pop for add role-->

<div
  class="popupWrapper PopupCloser"
  id="createNewAssignPopup"
  style="display: none"
>
  <div class="popupHeading">
    <h2 class="fleft">Add Role</h2>
    <a href="" class="JoshiCloseButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Add Role</h1>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <div class="recordsTableDiv">
            <table
              cellspacing="0"
              cellpadding="0"
              class="recordsTable"
              id="salesBillsRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    style="background: darkgray"
                    id="costprice"
                  >
                    User
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                    id="name"
                  >
                    Company
                  </th>
                </tr>
              </thead>
              <tbody id="prodTable">
                <tr>
                  <td>
                    {{ selectedUser }}
                  </td>
                  <td>{{ companyName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="container" style="margin-top: 10px">
            <span>Roles</span>
            <div style="border-bottom: 2px solid #bdbdbd"></div>
            <div style="margin: 4px" *ngFor="let role of role">
              <div
                *ngIf="role.role !== 'ADMIN' && role.role !== 'SUPER_ADMIN'"
                style="margin: 1px"
              >
                <input
                  type="checkbox"
                  [checked]="hasRole(role.role)"
                  (change)="onRoleChecked($event, role.id)"
                  value="admin"
                />
                <Label>{{ role.role }}</Label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="OK"
          class="submit_btn border-rad saveButton"
          (click)="onAssignRolePopupSaveClicked()"
          id=""
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn JoshiCloseButton order-rad"
        />
      </div>
    </form>
  </div>
</div>

<!-- popup for Assign Company To user -->
<div
  class="popupWrapper PopupCloser"
  id="AddNewUserPopup"
  style="display: none"
>
  <div class="popupHeading">
    <h2 class="fleft">Assign Company</h2>
    <a href="" class="JoshiCloseButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Assign Company</h1>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <div class="recordsTableDiv">
            <table
              cellspacing="0"
              cellpadding="0"
              class="recordsTable"
              id="salesBillsRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    style="background: darkgray"
                  >
                    First Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Last Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Email
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Assign
                  </th>
                </tr>
              </thead>

              <tbody id="prodTable" *ngFor="let allUser of allUsers">
                <tr *ngIf="allUser.userId != loggedInUser.user.id">
                  <td>
                    <a>{{ allUser.firstName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.lastName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.email }}</a>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      (change)="onAssignCompanyChange($event, allUser.userId)"
                    />
                    <label for="input"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Save"
          class="submit_btn saveButton border-rad"
          (click)="onAssignCompanySaveClicked($event)"
          id=""
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn JoshiCloseButton border-rad"
        />
      </div>
    </form>
  </div>
</div>

<!-- PopUp For branch -->

<div
  class="popupWrapper PopupCloser"
  id="createNewBranchPopup"
  style="display: none"
>
  <div class="popupHeading">
    <h2 class="fleft">Branch</h2>
    <a href="" class="JoshiCloseButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Register Branch</h1>
    <div>Create a new Branch.</div>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct" [formGroup]="BranchRegistrationForm">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">Name:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="BranchName"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Name.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Abbvr:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="BranchAbbvr"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid abbr.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Description:<span class=""></span></td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText"
                  formControlName="BranchDescription"
                  title="Enter Text"
                  id="custPartName"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">State: <span class="mandatorySign"></span></td>
              <div style="padding-left: 4.5px">
                <select
                  formControlName="BranchState"
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  style="width: 300px"
                  #selected
                  (change)="stateChange(selected.value)"
                >
                  <option selected disabled>Select the state</option>
                  <option
                    *ngFor="let state of province"
                    value="{{ state.provinceId }}"
                  >
                    {{ state.provinceName }}
                  </option>
                </select>
              </div>
              <td class="col3"></td>
            </tr>
            <div class="cboth"></div>

            <tr>
              <td class="col1">District:<span class="mandatorySign"></span></td>

              <div style="padding-left: 4.5px">
                <select
                  formControlName="BranchDistrict"
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  style="width: 300px"
                  #selected
                  (change)="districtChange()"
                >
                  <option
                    *ngFor="let district of districts"
                    value="{{ district.districtId }}"
                  >
                    {{ district.districtName }}
                  </option>
                </select>
              </div>
              <td class="col3"></td>
            </tr>
            <tr>
              <td class="col1">
                Muncipality/VDC:<span class="mandatorySign"></span>
              </td>
              <div style="padding-left: 4.5px">
                <select
                  formControlName="BranchMunVdc"
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                  style="width: 300px"
                  #selected
                >
                  <option
                    *ngFor="let municipality of municipality"
                    value="{{ municipality.municipalityName }}"
                  >
                    {{ municipality.municipalityName }}
                  </option>
                </select>
              </div>
              <td class="col3"></td>
            </tr>
            <tr>
              <td class="col1">Ward no:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="BranchWardNo"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Ward no.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Phone:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="BranchPhone"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Phone.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Register"
          class="submit_btn registerButton border-rad"
          (click)="registerBranch()"
          [disabled]="BranchRegistrationForm.invalid"
          id=""
        />

        <input
          type="button"
          value="Cancel"
          class="submit_btn JoshiCloseButton border-rad"
        />
      </div>
    </form>
  </div>
</div>

<!-- assign branch popup -->
<div
  class="popupWrapper PopupCloser"
  id="assignNewBranchPopup"
  style="display: none"
>
  <div class="popupHeading">
    <h2 class="fleft">Assign Branch</h2>
    <a href="" class="JoshiCloseButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Assign Branch</h1>
  </div>
  <div class="popupContentWrapper">
    <form id="createProduct">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <div class="recordsTableDiv">
            <table
              cellspacing="0"
              cellpadding="0"
              class="recordsTable"
              id="salesBillsRecordsTable"
            >
              <thead>
                <tr>
                  <th
                    class="sortable"
                    sortDir="asc"
                    sortCol="customer_name"
                    style="background: darkgray"
                  >
                    First Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Last Name
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Email
                  </th>
                  <th
                    class="sortable"
                    style="background: darkgray"
                    sortDir="asc"
                    sortCol="organization_name"
                  >
                    Assign
                  </th>
                </tr>
              </thead>

              <tbody id="prodTable" *ngFor="let allUser of assignUserList">
                <tr *ngIf="allUser.userId != loggedInUser.user.id">
                  <td>
                    <a>{{ allUser.firstName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.lastName }}</a>
                  </td>
                  <td>
                    <a>{{ allUser.email }}</a>
                  </td>
                  <td>
                    <input
                      type="checkbox"
                      (change)="
                        onAssignBranchPopupCheckBoxChange(
                          $event,
                          allUser.userId
                        )
                      "
                    />
                    <label for="input"></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Save"
          class="submit_btn saveButton border-rad"
          (click)="onBranchAssignPopupSaveButtonClicked()"
          id=""
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn JoshiCloseButton border-rad"
        />
      </div>
    </form>
  </div>
</div>

<div
  class="popupWrapper PopupCloser"
  id="createNewCounterPopup"
  style="display: none"
>
  <app-create-counter
    [branchId]="BranchIdForCounter"
    (success)="getCounter()"
  ></app-create-counter>
</div>

<div
  class="popupWrapper PopupCloser"
  id="AssignCounterPopup"
  style="display: none"
>
  <app-assign-counter
    [counterId]="counterIdForAssignCounter"
    [branchId]="branchIdForAssignCounter"
    (successFull)="getUsersForCounterListing()"
  ></app-assign-counter>
</div>

<div
  class="popupWrapper PopupCloser"
  id="AssignfeatureControlPopup"
  style="display: none"
>
  <app-assign-feature
    [userId]="userIdForFeatureControl"
    (ControlAssignedSuccess)="triggerTheUserFeatureList()"
  ></app-assign-feature>
</div>
