<div class="contentRecordsTableContainer MainContainer">
  <div class="recordTableWrapper" style="height: auto">
    <div class="recordCategory">
      <h2 class="text-center" id="totalGroupCombinations">Payment List</h2>
      <div class="cboth"></div>
    </div>

    <div class="searchCreateTableDiv" style="height: 513px">
      <div class="searchCreateDiv">
        <div class="fleft searchDiv" id="prodSearch">
          <input
            class="inputText hintText"
            type="text"
            search="off"
            value="Enter CustomerPartName/MasterPartName to Search"
          />
          <input
            type="image"
            src="../../../assets/resources/images/searchButton.png"
            class="serachButton"
            title="Search Term"
          />
          <a href="#" class="genLink">Clear searchs</a>
        </div>
        <div class="fright" class="createProductDiv">
          <a
            *ngIf="IsAuditor"
            href=""
            id="createPayment"
            class="createNewTableRecord"
          >
            <img src="../../../assets/resources/images/createProduct.png" />
            <span> Create Payment</span>
          </a>
        </div>
        <div class="cboth"></div>
      </div>
      <div class="tableWrapper">
        <div class="tablesettingDiv">
          <div class="fleft filterListWrapper">
            <div class="fleft">
              <span class="italicText"></span>
            </div>
            <ul
              class="fleft filtersDisplayList ProductsTableFiltersDisplayList"
            ></ul>
            <div class="cboth"></div>
          </div>
          <div class="fright configNavTableWrapper">
            <div class="fleft tableNavDiv" id="ProductsTablePagination">
              <!-- <a href="" class="first first-page pageNumber">
                <img src="../../../assets/resources/images/first-page.png" />
              </a> -->
              <a
                (click)="changePage('prev')"
                style="cursor: pointer"
                class="prev pageNumber"
              >
                <img src="../../../assets/resources/images/prev-page.png" />
              </a>
              <span class="showingText">Page</span>
              <span class="pagedisplay"
                ><span class="pageNum">{{ currentPageNumber }}</span>
              </span>

              <a
                (click)="changePage('next')"
                style="cursor: pointer"
                class="next pageNumber"
              >
                <img src="../../../assets/resources/images/next-page.png" />
              </a>
              <!-- <a href="" class="last last-page pageNumber">
                <img src="../../../assets/resources/images/last-page.png" />
              </a> -->
            </div>
          </div>
          <div class="cboth"></div>
        </div>
        <div class="recordsTableDiv">
          <table cellspacing="0" cellpadding="0" class="recordsTable">
            <thead>
              <tr>
                <th>Payment Id</th>
                <th>Company Id</th>
                <th>Branch Id</th>
                <th>Party Id</th>
                <th>Amount</th>
                <th>Payment Mode Id</th>
                <th>Tds Deducted</th>
                <th>Post Date Check</th>
                <th>Post Check Date</th>
                <th>Cheque No</th>
                <th>Date</th>
                <th>Status</th>
                <th class="last-child">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Payment of payment">
                <td>{{ Payment.sn }}</td>
                <td>{{ Payment.companyId }}</td>
                <td>{{ Payment.branchId }}</td>
                <td>{{ Payment.partyId }}</td>
                <td>{{ Payment.amount }}</td>
                <td>{{ Payment.paymentModeId }}</td>
                <td>{{ Payment.tdsDeducted }}</td>
                <td>{{ Payment.postDateCheck }}</td>
                <td>{{ Payment.postCheckDate | date }}</td>
                <td>{{ Payment.checkNo }}</td>
                <td>{{ Payment.date | date }}</td>
                <td>{{ Payment.paymentStatus }}</td>
                <td class="last-child">
                  <a
                    *ngIf="IsAuditor"
                    id="editPayment"
                    (click)="editPayment(Payment.sn)"
                    class="createNewTableRecord"
                  >
                    <img src="../../../assets/resources/images/editRow.png" />
                  </a>
                  <a
                    *ngIf="IsAuditor"
                    (click)="deletePayment(Payment.sn)"
                    class=""
                  >
                    <img src="../../../assets/resources/images/deleteRow.png" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="popupWrapper PopupCloser"
      id="editPaymentPopup"
      style="display: none"
    >
      <app-edit-payment-details
        [PaymentId]="paymentIdForEdit"
        (updatedSuccessful)="getDetails()"
      ></app-edit-payment-details>
    </div>
  </div>
</div>

<div
  class="popupWrapper PopupCloser"
  id="createPaymentPopup"
  style="display: none"
>
  <div class="popupHeading">
    <h2 class="fleft">Payment Flow</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Create Payment Details</h1>
    <div>Payment Details</div>
  </div>
  <div class="popupContentWrapper">
    <form [formGroup]="PaymentForm">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">Party Id</td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  formControlName="partyId"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">amount<span class=""></span></td>

              <td class="col3">
                <input
                  type="number"
                  class="inputText"
                  formControlName="amount"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">TDS</td>

              <td class="col3">
                <input type="number" class="inputText" formControlName="Tds" />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Payment Mode</td>
              <div style="width: 285px; padding-left: 4px">
                <select
                  style="background-color: white"
                  formControlName="paymentModeId"
                  class="inputText"
                  (change)="paymentModeChange(selected.value)"
                  #selected
                >
                  <option selected disabled>Select the state</option>
                  <option
                    *ngFor="let mode of paymentMode"
                    value="{{ mode.id }}"
                  >
                    {{ mode.modeName }}
                  </option>
                </select>
              </div>

              <td class="col3"></td>
            </tr>

            <tr *ngIf="cheque">
              <td class="col1">Cheque Number<span class=""></span></td>

              <td class="col3">
                <input
                  type="number"
                  class="inputText"
                  formControlName="checkNo"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr *ngIf="cheque">
              <td class="col1">Post Check Date</td>
              <div style="width: 285px; padding-left: 4px">
                <select
                  style="background-color: white"
                  formControlName="postDateCheck"
                  class="inputText"
                  #selected
                  (change)="postCheckDate($event)"
                >
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </div>

              <td class="col3"></td>
            </tr>

            <tr *ngIf="postDateCheckEnable && cheque">
              <td class="col1">Post Check Date<span class=""></span></td>
              <td class="col3">
                <!-- <np-datepicker formControlName="NepaliDate" language="en">
                </np-datepicker> -->
                <input
                  type="date"
                  formControlName="postCheckDate"
                  class="inputText"
                />
              </td>
              <td class="col3"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Register"
          (click)="createPaymentDetails()"
          [disabled]="PaymentForm.invalid"
          class="submit_btn registerButton border-rad"
          id=""
        />

        <input
          type="button"
          value="Cancel"
          class="submit_btn closeButton border-rad"
        />
      </div>
    </form>
  </div>
</div>
