/* custom css */

/* checkout */
.fieldDiv {
  padding: 10px;
  background-color: #f0f3f7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.fieldDiv label {
  display: block;
  margin-bottom: 5px;
}

.fieldDiv input[type="text"],
.fieldDiv select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.fieldDiv input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.fieldDiv input[type="submit"]:hover {
  background-color: #45a049;
}

.fieldDiv:nth-child(n + 4) {
  display: flex;
  justify-content: space-between;
}

.fieldDiv:nth-child(n + 4) label {
  margin: 0;
}

.fieldDiv:nth-child(n + 4) input[type="text"] {
  width: calc(50% - 5px);
}

.fieldDiv:nth-child(n + 4):last-child input[type="text"] {
  margin-left: 10px;
}

.receipt-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.customer-details,
.payment-details {
  margin-bottom: 20px;
}

.thank-you {
  margin-bottom: 20px;
}

.signature {
  display: inline-block;
}

.signature img {
  max-width: 150px;
  height: auto;
  margin-top: 20px;
}

.signature p {
  margin-top: 10px;
  font-weight: bold;
}
