<div class="popupHeading">
  <h2 class="fleft">RE-Split Product</h2>
  <a class="closeButton fright" id="closeBtn" (click)="destoryComp()"
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
  <div class="cboth"></div>
</div>
<!-- {{fetchstock | json}} -->
<div class="popupSubHeadingDiv addNewProduct">
  <h1 class="heading">
    Your can RE-Split your product Name :
    <h1 class="tCenter"></h1>
  </h1>
</div>
<div class="popupContentWrapper">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-popup class="m-4"></app-popup> -->
      <form
        #splitproductForm="ngForm"
        name="splitproductForm"
        id="splitproductForm"
        (submit)="splitAgain(splitproductForm)"
      >
        <div class="chooseColoumnsWrapper">
          <div class="fieldDiv popUpFormSectionWrapper">
            <table class="" cellpadding="0" cellspacing="0">
              <tr>
                <!-- {{ SplitProductObj | json}} -->
                <td class="col1 pt-2">
                  Product Name:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                  readonly
                   placeholder="{{ SplitProductObj.productName }}"
                    class="form-control "
                    name="productName"
                    id="productName"
                    #productName="ngModel"
                    [(ngModel)]="SplitProductObj.productName"
                  />
                </td>
              </tr>
              
              <tr>
                <td class="col1 pt-2">
                  Product ID:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    readonly
                    type="text"
                    placeholder="{{ SplitProductObj.productId }}"
                    class="form-control"
                    name="productId"
                    id="productId"
                    #productId="ngModel"
                    [(ngModel)]="SplitProductObj.productId"
                  />
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Spliting Ratio:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    readonly
                    placeholder="{{ SplitProductObj.qty }}"
                    type="text"
                    class="form-control"
                    id="qty"
                    name="qty"
                    #qty="ngModel"
                    [(ngModel)]="SplitProductObj.qty"
                  />
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  UpdatedProductName:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    readonly
                    placeholder="{{ SplitProductObj.updatedProductName }}"
                    type="text"
                    class="form-control"
                    id="updatedProductName"
                    name="updatedProductName"
                    #updatedProductName="ngModel"
                    [(ngModel)]="SplitProductObj.updatedProductName"
                  />
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  UpdatedProductID:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    readonly
                    placeholder="{{ SplitProductObj.updatedProductId }}"
                    type="text"
                    class="form-control"
                    id="updatedProductId"
                    name="updatedProductId"
                    #updatedProductId="ngModel"
                    [(ngModel)]="SplitProductObj.updatedProductId"
                  />
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  splitQty :<span class="mandatorySign"
                    >* {{ fetchstock.qty - SplitProductObj.splitQty }}</span
                  >
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="splitQty.invalid && splitQty.touched"
                    class="form-control"
                    id="splitQty"
                    name="splitQty"
                    #splitQty="ngModel"
                    [max]="fetchstock.qty"
                    [min]="1"
                    required
                    [(ngModel)]="SplitProductObj.splitQty"
                    (keydown.enter)="goToSplitAgainButton()"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <div
                    *ngIf="
                      splitQty.errors && (splitQty.dirty || splitQty.touched)
                    "
                    class="alert alert-danger"
                  >
                    <div [hidden]="!splitQty.errors['dirty']">
                      Please input a splitQty.
                    </div>
                    <div [hidden]="!splitQty.errors['max']">
                      Please input {{ fetchstock.qty }} limited qty.
                    </div>
                    <div [hidden]="!splitQty.errors['min']">
                      Please input in range 0 to {{ fetchstock.qty }} qty.
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Price<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    readonly
                    type="text"
                    placeholder="{{ SplitProductObj.price }}"
                    class="form-control"
                    name="price"
                    id="price"
                    #price="ngModel"
                    [(ngModel)]="SplitProductObj.price"
                  />
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Product unit:<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <select
                    class="form-control"
                    name="unit"
                    id="unit"
                    #unit="ngModel"
                    [(ngModel)]="SplitProductObj.unit"
                    disabled="true"
                  >
                    <option *ngFor="let ap of Unit" [value]="ap.name">
                      {{ ap.name }}
                    </option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <button type="submit" id="splitAgBtn"  class="submit_btn  border-rad ml-2 tCenter"  [disabled]="splitproductForm.form.invalid">Split again</button>
         
          <input
            type="button"
            value="Cancel"
            (click)="destroyComp()"
            class="submit_btn cancel_btn border-rad ml-2 tCenter"
          />
        </div>
      </form>
    </div>
  </div>
</div>
