<div class="contentRecordsTableContainer MainContainer" style="height: 650px">
  <div class="recordTableWrapper" style="height: auto">
    <div class="recordCategory">
      <h2 class="text-center" id="totalGroupCombinations">
        Credit Note Details
      </h2>
      <div class="cboth"></div>
    </div>
    <div class="searchCreateTableDiv" style="height: 600px">
      <section>
        <div>
          <p>
            S N:
            <input
              type="number"
              name="SN"
              #topic="ngModel"
              [ngModel]="serialNumber"
              disabled
              class="inputText"
            />
          </p>
          <p style="text-align: right">
            Date: <input type="text" disabled [ngModel]="date" />
          </p>

          <p>
            Bill No:
            <input
              type="number"
              class="inputText"
              name="billNo"
              [(ngModel)]="billNo"
              (keyup.enter)="onEnter($event)"
            />
          </p>
          <p>VAT No: {{ salesBillDetails.sellerCompany.panNo }}</p>
          <p>Customer Name: {{ salesBillDetails.salesBillDTO.customerName }}</p>
          <p>Customer Address: {{ salesBillDetails.customerAddress }}</p>
        </div>
        <div class="recordsTableDiv">
          <table
            cellspacing="0"
            cellpadding="0"
            class="recordsTable"
            id="ProductsRecordsTable"
          >
            <thead>
              <tr>
                <th>Select</th>
                <th>Product Name</th>
                <th>Credit Reason</th>
                <th>QTY</th>
                <th>Discount</th>
                <th>Credit Amount</th>
                <th>Tax Amount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody *ngFor="let data of productDetails" id="prodTable">
              <tr>
                <td>
                  <input
                    type="checkbox"
                    (change)="selectedProduct($event, data)"
                  />
                </td>
                <td>{{ data.productName }}</td>
                <td>
                  <input
                    type="text"
                    [ngModel]="data.creditReason"
                    (change)="reasonchange(data.productId, $event)"
                    class="inputText"
                  />
                </td>
                <td>
                  <input
                    [(ngModel)]="data.qty"
                    type="number"
                    class="inputText"
                  />
                </td>
                <td>{{ data.discountPerUnit }}</td>
                <td>{{ data.rate }}</td>
                <td>{{ data.rate * (data.taxRate / 100) }}</td>
                <td>
                  <span>{{
                    data.qty * (data.rate + (data.rate * data.taxRate) / 100)
                  }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <p style="text-align: right">Total Tax Amount: [Enter Tax Amount]</p>
        <div class="total">Total Amount: [Enter Total Amount]</div> -->
      </section>
      <div>
        <button
          type="submit"
          (click)="onSubmit()"
          class="submit_btn border-rad"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
