<div class="contentRecordsTableContainer MainContainer">
  <div class="" style="height: auto">
    <div>
      <div>
        <h2 class="text-center" id="totalGroupCombinations">
          Fixed Asset List
        </h2>
      </div>
      <hr style="margin: 12px" />
    </div>

    <div class="searchCreateTableDiv" style="height: 513px">
      <div class="searchCreateDiv">
        <div class="fleft searchDiv" id="prodSearch">
          <input
            class="inputText hintText"
            type="text"
            search="off"
            value="Enter CustomerPartName/MasterPartName to Search"
          />
          <input
            type="image"
            src="../../../assets/resources/images/searchButton.png"
            class="serachButton"
            title="Search Term"
          />
          <a href="#" class="genLink">Clear searchs</a>
        </div>
        <div class="fright" class="createProductDiv">
          <a
            *ngIf="IsAuditor"
            href=""
            id="createAssets"
            class="createNewTableRecord"
          >
            <img src="../../../assets/resources/images/createProduct.png" />
            <span> Create Assets</span>
          </a>
        </div>
        <div class="cboth"></div>
      </div>
      <div class="tableWrapper">
        <div class="tablesettingDiv">
          <div class="fleft filterListWrapper">
            <div class="fleft">
              <span class="italicText"></span>
            </div>
            <ul
              class="fleft filtersDisplayList ProductsTableFiltersDisplayList"
            ></ul>
            <div class="cboth"></div>
          </div>
          <div class="fright configNavTableWrapper">
            <div class="fleft tableNavDiv" id="ProductsTablePagination">
              <!-- <a href="" class="first first-page pageNumber">
                <img src="../../../assets/resources/images/first-page.png" />
              </a> -->
              <a
                (click)="changePage('prev')"
                style="cursor: pointer"
                class="prev pageNumber"
              >
                <img src="../../../assets/resources/images/prev-page.png" />
              </a>
              <span class="showingText">Page</span>
              <span class="pagedisplay"
                ><span class="pageNum">{{ currentPageNumber }}</span>
              </span>

              <a
                (click)="changePage('next')"
                style="cursor: pointer"
                class="next pageNumber"
              >
                <img src="../../../assets/resources/images/next-page.png" />
              </a>
              <!-- <a href="" class="last last-page pageNumber">
                <img src="../../../assets/resources/images/last-page.png" />
              </a> -->
            </div>
          </div>
          <div class="cboth"></div>
        </div>
        <div class="recordsTableDiv">
          <table
            cellspacing="0"
            cellpadding="0"
            class="recordsTable"
            id="ProductsRecordsTable"
          >
            <thead>
              <tr>
                <th class="first-child sortable" sortDir="asc">Id</th>
                <th class="sortable" sortDir="asc">Company Id</th>
                <th class="sortable" sortDir="asc">Branch Id</th>
                <th class="sortable" sortDir="asc">name</th>
                <th class="sortable" sortDir="asc">Amount</th>
                <th class="sortable" sortDir="asc">Bill No</th>
                <th class="sortable" sortDir="asc">cash</th>
                <th class="sortable" sortDir="asc">loan</th>
                <th class="sortable" sortDir="asc">loan Id</th>
                <th class="sortable" sortDir="asc">Date</th>
                <th class="sortable" sortDir="asc">Status</th>
                <th class="last-child">Actions</th>
              </tr>
            </thead>
            <tbody id="prodTable">
              <tr>
                <span class="noProdRecord">No records found</span>
              </tr>

              <tr *ngFor="let assets of fixedAssets">
                <td>{{ assets.sn }}</td>
                <td>{{ assets.companyId }}</td>
                <td>{{ assets.branchId }}</td>
                <td>{{ assets.name }}</td>
                <td>{{ assets.amount }}</td>
                <td>{{ assets.billNo }}</td>
                <td>{{ assets.cash }}</td>
                <td>{{ assets.loan }}</td>
                <td>{{ assets.loanId }}</td>
                <td>{{ assets.date | date }}</td>
                <td>{{ assets.status }}</td>
                <td class="last-child">
                  <a
                    *ngIf="IsAuditor"
                    id="editFixedAsset"
                    (click)="editFixedAsset(assets.sn)"
                    class="createNewTableRecord"
                  >
                    <img src="../../../assets/resources/images/editRow.png" />
                  </a>
                  <a
                    *ngIf="IsAuditor"
                    class=""
                    (click)="deleteFixedAssetsDetails(assets.sn)"
                  >
                    <img src="../../../assets/resources/images/deleteRow.png" />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="popupWrapper PopupCloser"
  id="createAssetsPopup"
  style="display: none"
  cdkDrag
>
  <div class="popupHeading">
    <h2 class="fleft">Assets</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Create Asset Details</h1>
    <div>Asset Details</div>
  </div>
  <div class="popupContentWrapper">
    <form [formGroup]="FixedAssetForm">
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">Name</td>
              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="name"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Amount<span class=""></span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText"
                  formControlName="amount"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">BillNo</td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText"
                  formControlName="billNo"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Cash</td>
              <td class="col3">
                <input type="number" class="inputText" formControlName="cash" />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Loan</td>
              <td class="col3">
                <input type="text" class="inputText" formControlName="loan" />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Loan Id</td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText"
                  formControlName="loanId"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Date</td>
              <td class="col3">
                <input type="date" class="inputText" formControlName="date" />
              </td>
              <td class="col3"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Submit"
          (click)="SubmitFixedAssetForm()"
          [disabled]="FixedAssetForm.invalid"
          class="submit_btn registerButton border-rad"
          id=""
        />

        <input
          type="button"
          value="Cancel"
          class="submit_btn closeButton border-rad"
        />
      </div>
    </form>
  </div>
</div>

<div
  class="popupWrapper PopupCloser"
  id="editFixedAssetPopup"
  style="display: none"
  cdkDrag
>
  <app-edit-fixed-assets
    [FixedAssetsId]="AssetIdForEdit"
    (updatedSuccessful)="getAssetsDetails()"
  ></app-edit-fixed-assets>
</div>
