<div class="hierarchyWrapper">
  <div class="recordCategoryListWrapper">
    <div class="tabListWrapper">
      <ul class="tabList">
        <li class="active hierarchyTab" id="hierarchy">
          <a href="" class="fleft">Menu</a>
          <a href="" class="removeTabLink fright"
            ><img src="../../../../assets/resources/images/removetablink.png"
          /></a>
        </li>
      </ul>
    </div>
    <div class="tabsBottomDiv"></div>
  </div>
  <div class="contentRecordsTableContainer">
    <div class="hierarchySettingsDiv">
      <ul class="hierarchySettingList">
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/add-child.png"
              title="Add Child"
              class="addChildInHierachlyLink"
              id="add-Child"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/add-siblings.png"
              title="Add Siblings"
              class="addSiblingInHierarchyLink"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/edit-node.png"
              title="Edit"
              class="editNodeInHierarchyLink"
              id="editHierarchy"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/delete-node.png"
              title="Delete"
              id="deleteNode"
              class="deleteHierarchyLink"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/cut-node.png"
              title="Cut"
              id="cutNode"
              onclick="return false"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/copy-node.png"
              title="Copy"
              id="copyNode"
              onclick="return false"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/paste-node.png"
              title="Paste"
              id="pasteNode"
          /></a>
        </li>
      </ul>
    </div>
    <div class="hierarchyContainer" id="organizationContainer">
      <div class="hierarachy-Div recordTableWrapper">
        <header class="section-header py-3">
          <div class="container">
            <h2
              style="
                font-size: 1.5rem;
                font-family: 'PT Sans', sans-serif;
                color: #333333;
              "
            >
              {{ companyName }}
            </h2>
          </div>
        </header>
        <!-- section-header.// -->

        <section class="section-content py-3">
          <div class="row">
            <aside class="col-lg-3">
              <nav
                class="sidebar card py-2 mb-4"
                style="width: 233px; background-color: #f8f8f8; border: none"
              >
                <ul class="nav flex-column" id="nav_accordion">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/demo">
                      <i
                        class="fa-solid fa-gauge fa-xl"
                        style="color: #668fcd"
                      ></i>
                      <span style="padding-left: 17px">Dashboard</span>
                    </a>
                  </li>
                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">
                      <i
                        class="fas fa-regular fa-boxes-stacked fa-xl"
                        style="color: #d1c73a"
                      ></i>
                      <span style="padding-left: 15px">Inventory</span>
                      <i class="bi small bi-caret-down-fill"></i>
                    </a>
                    <ul *ngIf="!IsStaff" class="submenu collapse"></ul>
                    <ul class="submenu collapse">
                      <li>
                        <a
                          class="nav-link"
                          routerLink="/dashboard/categoryprod"
                        >
                          Category
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" routerLink="/dashboard/products">
                          Product
                        </a>
                      </li>
                      <li>
                        <a
                          class="nav-link"
                          routerLink="/dashboard/split/product"
                        >
                          Split / Merge Product
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">
                      <i
                        class="fas fa-regular fa-wallet fa-xl"
                        style="color: #e96a6a"
                      ></i>
                      <span style="padding-left: 16px">Sales</span>
                      <i class="bi small bi-caret-down-fill"></i>
                    </a>
                    <ul class="submenu collapse">
                      <li>
                        <a class="nav-link" routerLink="/dashboard/salesbill">
                          Invoice
                        </a>
                      </li>

                      <li *ngIf="IsStaff">
                        <a class="nav-link" routerLink="/dashboard/expense">
                          Expense
                        </a>
                      </li>

                      <li *ngIf="IsStaff">
                        <a class="nav-link"> Customers </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">
                      <i
                        class="fas fa-regular fa-cart-arrow-down fa-xl"
                        style="color: #378958"
                      ></i>
                      <span style="padding-left: 13px">Purchase</span>
                      <i class="bi small bi-caret-down-fill"></i>
                    </a>
                    <ul *ngIf="!IsStaff" class="submenu collapse"></ul>
                    <ul class="submenu collapse">
                      <li>
                        <a class="nav-link" routerLink="/dashboard/payment"
                          >Payment
                        </a>
                      </li>
                      <li>
                        <a
                          *ngIf="IsAduitor"
                          class="nav-link"
                          routerLink="/dashboard/purchase/create"
                          >Make Purchase
                        </a>
                      </li>
                      <li>
                        <a
                          class="nav-link"
                          routerLink="/dashboard/purchasebills"
                          >Bills
                        </a>
                      </li>

                      <li>
                        <a class="nav-link" routerLink="/dashboard/receipt"
                          >Receipts
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-submenu">
                    <a class="nav-link" href="#">
                      <i
                        class="fas fa-regular fa-landmark fa-xl"
                        style="color: #464f5d"
                      ></i>

                      <span style="padding-left: 15px">Bank</span
                      ><i class="bi small bi-caret-down-fill"></i>
                    </a>
                    <ul *ngIf="!IsStaff" class="submenu collapse"></ul>
                    <ul *ngIf="IsStaff" class="submenu collapse">
                      <li>
                        <a class="nav-link" href="/dashboard/create/bank"
                          >Create Bank
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="/dashboard/bank/deposit"
                          >Deposit
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" href="/dashboard/bank/withdraw"
                          >Withdraw
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" routerLink="/dashboard/loan/create"
                          >Loan
                        </a>
                      </li>
                      <li>
                        <a class="nav-link" routerLink="/dashboard/fixedAsset"
                          >Assets
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#"
                      ><i
                        class="fas fa-regular fa-file-alt fa-xl"
                        style="color: #9ba0a7"
                      ></i>

                      <span style="padding-left: 20px">Reports</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </aside>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="cboth"></div>
