<div class="hierarchyWrapper">
  <div class="recordCategoryListWrapper">
    <div class="tabListWrapper">
      <ul class="tabList">
        <li class="active hierarchyTab" id="hierarchy">
          <a href="" class="fleft">Hierarchies</a>
          <a href="" class="removeTabLink fright"
            ><img src="../../../../assets/resources/images/removetablink.png"
          /></a>
        </li>
      </ul>
    </div>
    <div class="tabsBottomDiv"></div>
  </div>
  <div class="contentRecordsTableContainer">
    <div class="hierarchySettingsDiv">
      <ul class="hierarchySettingList">
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/add-child.png"
              title="Add Child"
              class="addChildInHierachlyLink"
              id="add-Child"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/add-siblings.png"
              title="Add Siblings"
              class="addSiblingInHierarchyLink"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/edit-node.png"
              title="Edit"
              class="editNodeInHierarchyLink"
              id="editHierarchy"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/delete-node.png"
              title="Delete"
              id="deleteNode"
              class="deleteHierarchyLink"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/cut-node.png"
              title="Cut"
              id="cutNode"
              onclick="return false"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/copy-node.png"
              title="Copy"
              id="copyNode"
              onclick="return false"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/paste-node.png"
              title="Paste"
              id="pasteNode"
          /></a>
        </li>
      </ul>
    </div>
    <div class="hierarchyContainer" id="organizationContainer">
      <div class="hierarachy-Div recordTableWrapper" id="">
        <nav id="sidebar">
          <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
          </div>

          <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
              <a
                href="#homeSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
                >Home</a
              >
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#">Home 1</a>
                </li>
                <li>
                  <a href="#">Home 2</a>
                </li>
                <li>
                  <a href="#">Home 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a
                href="#pageSubmenu"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
                >Pages</a
              >
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                  <a href="#">Page 1</a>
                </li>
                <li>
                  <a href="#">Page 2</a>
                </li>
                <li>
                  <a href="#">Page 3</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Portfolio</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>

          <ul class="list-unstyled CTAs">
            <li>
              <a
                href="https://bootstrapious.com/tutorial/files/sidebar.zip"
                class="download"
                >Download source</a
              >
            </li>
            <li>
              <a
                href="https://bootstrapious.com/p/bootstrap-sidebar"
                class="article"
                >Back to article</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="cboth"></div>
