<div class="hierarchyWrapper">
  <div class="recordCategoryListWrapper">
    <div class="tabListWrapper">
      <ul class="tabList">
        <li class="active hierarchyTab" id="hierarchy">
          <a href="" class="fleft">Hierarchies</a>
          <a href="" class="removeTabLink fright"
            ><img src="../../../../assets/resources/images/removetablink.png"
          /></a>
        </li>
      </ul>
    </div>
    <div class="tabsBottomDiv"></div>
  </div>
  <div class="contentRecordsTableContainer">
    <div class="hierarchySettingsDiv">
      <ul class="hierarchySettingList">
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/add-child.png"
              title="Add Child"
              class="addChildInHierachlyLink"
              id="add-Child"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/add-siblings.png"
              title="Add Siblings"
              class="addSiblingInHierarchyLink"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/edit-node.png"
              title="Edit"
              class="editNodeInHierarchyLink"
              id="editHierarchy"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/delete-node.png"
              title="Delete"
              id="deleteNode"
              class="deleteHierarchyLink"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/cut-node.png"
              title="Cut"
              id="cutNode"
              onclick="return false"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/copy-node.png"
              title="Copy"
              id="copyNode"
              onclick="return false"
          /></a>
        </li>
        <li>
          <a href=""
            ><img
              src="../../../../assets/resources/images/paste-node.png"
              title="Paste"
              id="pasteNode"
          /></a>
        </li>
      </ul>
    </div>
    <div class="hierarchyContainer" id="organizationContainer">
      <div class="hierarachy-Div recordTableWrapper" id="organizationHierarchy">
        orgHirachy
      </div>
    </div>
    <div class="hierarchyContainer" id="productContainer">
      <div class="hierarachy-Div recordTableWrapper" id="productHierarchy">
        productHir
      </div>
    </div>
  </div>
</div>
<div class="cboth"></div>
