<div
  class="demoContainer"
  style="background-color: #f0f3f7; border: 1px solid black; border-radius: 8px"
>
  <div class="">
    <div class="" style="height: 545px">
      <div>
        <div>
          <h2 class="text-center" id="totalGroupCombinations">
            Welcome To Dashboard
          </h2>
        </div>
        <hr style="margin: 12px" />
      </div>

      <div>
        <h1>Welcome To IAccounting</h1>
        <div>
          <label for="englishDate">Enter English Date (YYYY-MM-DD):</label>
          <input
            type="text"
            id="englishDate"
            [(ngModel)]="englishDate"
            placeholder="YYYY-MM-DD"
          />
          <button (click)="convertDate()">Convert</button>
        </div>

        <div *ngIf="nepaliDate">
          <p>Equivalent Nepali Date:</p>
          <p>{{ nepaliDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
