<div class="contentRecordsTableContainer MainContainer">
  <div class="recordTableWrapper" style="height: auto">
    <div class="recordCategory">
      <h2 class="text-center" id="" style="font-weight: bold !important">
        {{
          salesInvoice.salesBillDTO.hasAbbr
            ? "ABBREVATED TAX INVOICE"
            : "INVOICE"
        }}
      </h2>
      <div class="cboth"></div>
    </div>

    <div class="popupSubHeadingDiv">
      <h1 class="heading">Invoice of the sold products</h1>
    </div>
    <div class="popupContentWrapper">
      <div class="row">
        <h5 class="text-center" style="font-weight: bold !important">
          Tax Invoice
        </h5>
        <div class="col-md-6">
          <span>
            <span style="font-weight: bold !important">Bill Number:</span>
            {{
              salesInvoice.salesBillDTO.hasAbbr
                ? salesInvoice.salesBillDTO.billNo
                : salesInvoice.salesBillDTO.billNo
            }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important"> Seller PAN:</span>
            {{ salesInvoice.sellerCompany.panNo }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important"> Seller Name:</span>
            {{ salesInvoice.sellerCompany.name }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important">Seller Address: </span
            >{{ salesInvoice.sellerCompany.district }}
            {{ salesInvoice.sellerCompany.munVdc }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important">Purchaser's Name:</span>
            {{
              salesInvoice.salesBillDTO.customerName
                ? salesInvoice.salesBillDTO.customerName
                : "NA"
            }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important">Purchaser Address:</span>
            {{
              salesInvoice.customerAddress ? salesInvoice.customerAddress : "NA"
            }} </span
          ><br />
          <span>
            <span style="font-weight: bold !important">Purchaser’s PAN: </span>
            <p style="display: inline; margin: 0">
              {{
                salesInvoice.salesBillDTO.customerPan > 0
                  ? salesInvoice.salesBillDTO.customerPan
                  : "NA"
              }}
            </p></span
          >
          <!-- <span *ngIf="salesInvoice.salesBillDTO.customerPan === 0">
            <span style="font-weight: bold !important">Purchaser’s PAN: </span>
            NA</span
          > -->
          <br />
        </div>
        <div class="col-md-6">
          <span>
            <span style="font-weight: bold !important">Transaction Date:</span>
            {{ salesInvoice.salesBillDTO.billDate | date : "yyyy-MM-dd" }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important"
              >Invoice issue Date:</span
            >
            {{ salesInvoice.salesBillDTO.billDate | date : "yyyy-MM-dd" }}</span
          ><br />
          <span>
            <span style="font-weight: bold !important"> MethodOfPayment:</span>
            {{ salesInvoice.salesBillDTO.paymentMethod }}</span
          ><br />
        </div>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <th style="font-weight: bold !important">S.No</th>
                <th style="font-weight: bold !important">Product Name</th>
                <th style="font-weight: bold !important">Quantity</th>
                <th style="font-weight: bold !important">
                  Per Unit Amount(Rs)
                </th>
                <th style="font-weight: bold !important">Total Amount(Rs)</th>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let invoice of salesInvoice.salesBillDetailsWithProd;
                    let i = index
                  "
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ invoice.productName }}</td>
                  <td>{{ invoice.qty }}</td>
                  <td>{{ invoice.rate | number : "1.2-2" }}</td>
                  <td>{{ invoice.qty * invoice.rate | number : "1.2-2" }}</td>
                </tr>
                <tr></tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Net Amount:</td>
                  <td>
                    {{ salesInvoice.salesBillDTO.amount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="text text-bg">Discount%: </span></td>
                  <td>
                    {{ salesInvoice.salesBillDTO.discount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr *ngIf="salesInvoice.salesBillDTO.hasAbbr === false">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="text text-bg">Taxable Amount</span></td>
                  <td>
                    {{
                      salesInvoice.salesBillDTO.taxableAmount | number : "1.2-2"
                    }}
                  </td>
                </tr>
                <tr *ngIf="salesInvoice.salesBillDTO.hasAbbr === false">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="text text-bg">VAT 13%</span></td>
                  <td>
                    {{ salesInvoice.salesBillDTO.taxAmount | number : "1.2-2" }}
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><span class="text text-bg">Total:</span></td>
                  <td>
                    {{
                      salesInvoice.salesBillDTO.totalAmount | number : "1.2-2"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            (In Words:
            {{ salesInvoice.salesBillDTO.totalAmount | numberToWords }})
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-end">
            <div class="row">
              <span>.................................</span>
            </div>
            <div class="row">
              <b>Authorized Signature </b>
            </div>
          </div>
        </div>
      </div>
      <button
        class="submit_btn border-rad"
        (click)="printTheBill(salesInvoice.salesBillDTO.id)"
      >
        Print
      </button>
      <div class="row text-center">
        <span *ngIf="salesInvoice.salesBillDTO.billPrinted"
          >This is second invoice
        </span>
      </div>
    </div>
  </div>
</div>
