<div class="recordCategory">
  <h2 id="totalsalesBills" class="fleft">
    salesBills - showing salesBillListSize of totalsalesBillRecords
  </h2>
  <div class="fright minimizeLinkDiv">
    <a href="" class="minimizeLink">&nbsp;</a>
  </div>
  <div class="cboth"></div>
</div>
<div class="searchCreateTableDiv">
  <div class="searchCreateDiv">
    <div class="fleft searchDiv" id="prodSearch">
      <input
        class="inputText hintText"
        type="text"
        search="off"
        value="Enter CustomerPartName/MasterPartName to Search"
      />
      <input
        type="image"
        src="../../../assets/resources/images/searchButton.png"
        class="serachButton"
        title="Search Term"
      />
      <a href="#" class="genLink">Clear search</a>
    </div>
    <div class="fright" class="createsalesBillDiv">
      <a href="" id="createNewsalesBill" class="createNewTableRecord">
        <img src="../../../assets/resources/images/createsalesBill.png" />
        <span>Create salesBill</span>
      </a>
    </div>
    <div class="cboth"></div>
  </div>
  <div class="tableWrapper">
    <div class="tablesettingDiv">
      <div class="fleft filterListWrapper">
        <div class="fleft">
          <span class="italicText"></span>
        </div>
        <ul
          class="fleft filtersDisplayList salesBillsTableFiltersDisplayList"
        ></ul>
        <div class="cboth"></div>
      </div>
      <div class="fright configNavTableWrapper">
        <div
          class="fleft configTableDiv newFilterItem"
          dropdownId="salesBillsTableFilters"
        >
          <a href="" class="">
            <img
              src="../../../assets/resources/images/newfilter-bg.png"
              alt="New Filter"
              title="Add new filter"
            />
            <span id="newsalesBillFilter" search="off">New Filter</span>
          </a>
        </div>
        <div class="fleft configTableDiv">
          <a href="" class="configTableLink">
            <img src="../../../assets/resources/images/config-bg.png" />
            <span>Configure Table</span>
            <img src="../../../assets/resources/images/th-sort-down.png" />
          </a>
          <div class="configTableDropdown" id="salesBillsTableFilters">
            <ul class="configOptionList" id="salesBillConfigList">
              <li class="filterItem">
                <span>Recent Filters</span>
                <ul class="filterList" id="salesBillFilterList">
                  <!-- <c:if test="${not empty salesBillFilters}"> -->
                  <!-- <c:forEach items="${salesBillFilters}" var="filter"> -->
                  <li>
                    <a
                      href=""
                      class="filterLink salesBillFilterName"
                      style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                      >filter.name</a
                    >
                    <span class="salesBillFilterId" style="display: none"
                      >filter.id</span
                    >
                    <div
                      class="salesBillFilterReqData hoverData"
                      style="display: none"
                    >
                      filter.reqData
                    </div>
                  </li>
                  <!-- </c:forEach> -->
                  <!-- </c:if> -->
                  <!-- <c:if test="${not empty salesBillFilterSeeMore}"> -->
                  <li class="seeAllFilterLink">
                    <a href="" class="seeMoreLink">See More</a>
                    <ul class="allFiltersList salesBillAllFilterList">
                      <!-- <c:forEach items="${salesBillFilterSeeMore}" var="filter"> -->
                      <li>
                        <a
                          href=""
                          class="filterLink salesBillFilterName"
                          style="
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "
                          >filter.name</a
                        >
                        <span class="salesBillFilterId" style="display: none"
                          >filter.id</span
                        >
                        <div
                          class="salesBillFilterReqData hoverData"
                          style="display: none"
                        >
                          filter.reqData
                        </div>
                      </li>
                      <!-- </c:forEach> -->
                    </ul>
                  </li>
                  <!-- </c:if> -->
                </ul>
              </li>
              <li class="chooseCol">
                <a href="">Choose Columns</a>
              </li>
              <li class="recordsPerPage">
                <a href="">Records Per Page</a>
              </li>
              <li class="exportTableLink">
                <a href="">Export Table</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fleft tableNavDiv" id="salesBillsTablePagination">
          <a href="" class="first first-page pageNumber">
            <img src="../../../assets/resources/images/first-page.png" />
          </a>
          <a href="" class="prev pageNumber">
            <img src="../../../assets/resources/images/prev-page.png" />
          </a>
          <span class="showingText">Page</span>
          <span class="pagedisplay"><span class="pageNum">1</span> </span>
          <!-- <c:choose>
                          <c:when test="${(totalsalesBillRecords mod 10)!=0}">
                              <c:set var="res" value="${(totalsalesBillRecords - (totalsalesBillRecords mod salesBillTableRecords))/salesBillTableRecords + 1}"/>
                              <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                              <span class="totalPage">${totalPage}</span>
                          </c:when>
                          <c:otherwise>
                              <c:set var="res" value="${totalsalesBillRecords/10}"/>
                              <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                              <span class="totalPage">${totalPage}</span>
                          </c:otherwise>
                        </c:choose> -->
          <a href="" class="next pageNumber">
            <img src="../../../assets/resources/images/next-page.png" />
          </a>
          <a href="" class="last last-page pageNumber">
            <img src="../../../assets/resources/images/last-page.png" />
          </a>
        </div>
      </div>
      <div class="cboth"></div>
    </div>
    <div class="recordsTableDiv">
      <table
        cellspacing="0"
        cellpadding="0"
        class="recordsTable"
        id="salesBillsRecordsTable"
      >
        <thead>
          <tr>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="customer_name"
              id="costprice"
            >
            Bill No
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="organization_name"
              id="name"
            >
              Fiscal Year
            </th>

            <th
              class="sortable"
              sortDir="asc"
              sortCol="master_name"
              id="sellingprice"
            >
              Customer Name
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="salesBill_group_name"
              id="barcode"
            >
              Total Amount
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="salesBill_group_name"
              id="discount"
            >
            Status
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="salesBill_group_name"
              id="tax"
            >
              Tax
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="salesBill_group_name"
              id="tax"
            >
            syncWithIrd
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="salesBill_group_name"
              id="tax"
            >
            printedTime
          </th>

            <th class="last-child"></th>
          </tr>
        </thead>
        <tbody id="prodTable">
          <tr>
            <span class="noProdRecord">No records found</span>
          </tr>
          <!-- <c:forEach items="${salesBills}" var="salesBill">  -->
          <tr *ngFor="let salesBill of salesBills" id="saleBill_{{salesBill.billNo}}">
            <td >{{salesBill.billNo}}</td>
            <td >{{salesBill.fiscalYear}}</td>
            <td >{{salesBill.customerName}}</td>
            <td >{{salesBill.taxAmount}}</td>
            <td >{{salesBill.status}}</td>
            <td >{{salesBill.taxAmount}}</td>
            <td >{{salesBill.syncWithIrd}}</td>
            <td >{{salesBill.printedTime}}</td>
            <td class="last-child">
              <a href="" class="editRowLink editGroupCombo">
                <img src="../../../assets/resources/images/editRow.png" />
              </a>
              <a href="" class="deleteRowLink deleteGroupCombo">
                <img src="../../../assets/resources/images/deleteRow.png" />
              </a>
            </td>
          </tr>
          <!-- </c:forEach>	 -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="popupWrapper" id="createNewsalesBillPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Create salesBill</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createsalesBill">
    <h1 class="heading">Create salesBill</h1>
    <div>Create a new salesBill.</div>
  </div>
  <div class="popupContentWrapper">
      <form #createSalesBill="ngForm"
       (ngSubmit)="submitSalesBillForm()"
       >
       <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1 pt-2"  >
                Product Id:<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="productId.invalid && productId.touched"
                class="form-control"
                id="productId"
                #productId="ngModel"
                required
                name="productId"
                [(ngModel)]="salesBillMaster.productId"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="productId.valid || productId.untouched"
                >invalid  productId</small>
              </td>
            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Quantity:<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="qty.invalid && qty.touched"
                class="form-control"
                id="qty"
                #qty="ngModel"
                required
                name="qty"
                [(ngModel)]="salesBillMaster.qty"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="qty.valid || qty.untouched"
                >invalid  qty</small>
              </td>
            </tr>

            <tr>
              <td class="col1 pt-2"  >
                Discount per unit :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="discountPerUnit.invalid && discountPerUnit.touched"
                class="form-control"
                id="discountPerUnit"
                #discountPerUnit="ngModel"
                required
                name="discountPerUnit"
                [(ngModel)]="salesBillMaster.discountPerUnit"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="discountPerUnit.valid || discountPerUnit.untouched"
                >invalid  discountPerUnit</small>
              </td>
            </tr>

            <tr>
              <td class="col1 pt-2"  >
                Rate :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="rate.invalid && rate.touched"
                class="form-control"
                id="rate"
                #rate="ngModel"
                required
                name="rate"
                [(ngModel)]="salesBillMaster.rate"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="rate.valid || rate.untouched"
                >invalid  rate</small>
              </td>
            </tr>

            <tr>
              <td class="col1 pt-2"  >
                Company Id :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="companyId.invalid && companyId.touched"
                class="form-control"
                id="companyId"
                #companyId="ngModel"
                required
                name="companyId"
                [(ngModel)]="salesBillMaster.companyId"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="companyId.valid || companyId.untouched"
                >invalid  companyId</small>
              </td>
            </tr>


            <tr>
              <td class="col1 pt-2"  >
                User Id :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="userId.invalid && userId.touched"
                class="form-control"
                id="userId"
                #userId="ngModel"
                required
                name="userId"
                [(ngModel)]="salesBillMaster.userId"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="userId.valid || userId.untouched"
                >invalid  userId</small>
              </td>
            </tr>

            <tr>
              <td class="col1 pt-2"  >
                Customer Id :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="custId.invalid && custId.touched"
                class="form-control"
                id="custId"
                #custId="ngModel"
                required
                name="custId"
                [(ngModel)]="salesBillMaster.custId"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="custId.valid || custId.untouched"
                >invalid  custId</small>
              </td>
            </tr>

            <tr>
              <td class="col1 pt-2"  >
                Fiscal Year :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="fiscalYear.invalid && fiscalYear.touched"
                class="form-control"
                id="fiscalYear"
                #fiscalYear="ngModel"
                required
                name="fiscalYear"
                [(ngModel)]="salesBillMaster.fiscalYear"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="fiscalYear.valid || fiscalYear.untouched"
                >invalid  fiscalYear</small>
              </td>
            </tr>

            <tr>
              <td class="col1 pt-2"  >
                Bill No :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="billNo.invalid && billNo.touched"
                class="form-control"
                id="billNo"
                #billNo="ngModel"
                required
                name="billNo"
                [(ngModel)]="salesBillMaster.billNo"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="billNo.valid || billNo.untouched"
                >invalid  billNo</small>
              </td>
            </tr>

            <!-- customerName -->

            <tr>
              <td class="col1 pt-2"  >
                Customer Name :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="customerName.invalid && customerName.touched"
                class="form-control"
                id="customerName"
                #customerName="ngModel"
                required
                name="customerName"
                [(ngModel)]="salesBillMaster.customerName"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="customerName.valid || customerName.untouched"
                >invalid  customerName</small>
              </td>
            </tr>

            <!-- customerPan -->

            <tr>
              <td class="col1 pt-2"  >
                Customer Pan :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="customerPan.invalid && customerPan.touched"
                class="form-control"
                id="customerPan"
                #customerPan="ngModel"
                required
                name="customerPan"
                [(ngModel)]="salesBillMaster.customerPan"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="customerPan.valid || customerPan.untouched"
                >invalid  customerPan</small>
              </td>
            </tr>

            <!-- amount -->


            <!-- discount -->


            <!-- taxableAmount -->

            <tr>
              <td class="col1 pt-2"  >
                Payment Method  :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="paymentMethod.invalid && paymentMethod.touched"
                class="form-control"
                id="paymentMethod"
                #paymentMethod="ngModel"
                required
                name="paymentMethod"
                [(ngModel)]="salesBillMaster.paymentMethod"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="paymentMethod.valid || paymentMethod.untouched"
                >invalid  paymentMethod</small>
              </td>
            </tr>

            <!-- vatRefundAmount -->
            <tr>
              <td class="col1 pt-2"  >
                Vat Refund Amount   :<span class="text-success">(opt)</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="vatRefundAmount.invalid && vatRefundAmount.touched"
                class="form-control"
                id="vatRefundAmount"
                #vatRefundAmount="ngModel"
                name="vatRefundAmount"
                [(ngModel)]="salesBillMaster.vatRefundAmount"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="vatRefundAmount.valid || vatRefundAmount.untouched"
                >invalid  vatRefundAmount</small>
              </td>
            </tr>

            <!-- transactionId -->
            <tr>
              <td class="col1 pt-2"  >
                Transaction Id   :<span class="text-success">(opt)</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="transactionId.invalid && transactionId.touched"
                class="form-control"
                id="transactionId"
                #transactionId="ngModel"
                name="transactionId"
                [(ngModel)]="salesBillMaster.transactionId"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="transactionId.valid || transactionId.untouched"
                >invalid  transactionId</small>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
            class="btn btn-success btn-sm py-2 px-4"
            type="submit"
            id="submitSalesBill "
            value="Add Sales Bill"
            [disabled]="createSalesBill.form.invalid"
         />
        <!-- <input
          type="button"
          value="Create"
          class="submit_btn border-rad"
          id="addProduct"
        /> -->
        <input
          style="margin-left: auto"
          type="button"
          value="Cancel"
          class="btn btn-warning btn-sm cancel_btn py-2 px-4"
        />
      </div>
      </form>
  </div>
  <!-- <script type="text/javascript">
        /*---- Date Picker input ---- */
            $('.datepickerInput').datepicker({
                    dateFormat: "mm/dd/yy",
                    showOn: "button",
                    buttonImage: "../../../assets/resources/images/calendar-bg.png",
                    buttonImageOnly: true
                });
            dragNDrop();

            $(function(){
                $('#custPartName').blur(function(){
                    $('#masterPartName').val($('#custPartName').val());
                })
            })
    </script> -->
</div>

