<div class="recordCategory">
  <h2 id="totalProducts" class="fleft">
    Products - showing productListSize of totalProductRecords
  </h2>
  <div class="fright minimizeLinkDiv">
    <a href="" class="minimizeLink">&nbsp;</a>
  </div>
  <div class="cboth"></div>
</div>
<div class="searchCreateTableDiv">
  <div class="searchCreateDiv">
    <div class="fleft searchDiv" id="prodSearch">
      <input
        class="inputText hintText"
        type="text"
        search="off"
        value="Enter CustomerPartName/MasterPartName to Search"
      />
      <input
        type="image"
        src="../../../assets/resources/images/searchButton.png"
        class="serachButton"
        title="Search Term"
      />
      <a href="#" class="genLink">Clear search</a>
    </div>
    <div class="fright" class="createProductDiv">
      <a href="" id="createNewProduct" class="createNewTableRecord">
        <img src="../../../assets/resources/images/createProduct.png" />
        <span>Create Product</span>
      </a>
    </div>
    <div class="cboth"></div>
  </div>
  <div class="tableWrapper">
    <div class="tablesettingDiv">
      <div class="fleft filterListWrapper">
        <div class="fleft">
          <span class="italicText"></span>
        </div>
        <ul
          class="fleft filtersDisplayList productsTableFiltersDisplayList"
        ></ul>
        <div class="cboth"></div>
      </div>
      <div class="fright configNavTableWrapper">
        <div
          class="fleft configTableDiv newFilterItem"
          dropdownId="productsTableFilters"
        >
          <a href="" class="">
            <img
              src="../../../assets/resources/images/newfilter-bg.png"
              alt="New Filter"
              title="Add new filter"
            />
            <span id="newProductFilter" search="off">New Filter</span>
          </a>
        </div>
        <div class="fleft configTableDiv">
          <a href="" class="configTableLink">
            <img src="../../../assets/resources/images/config-bg.png" />
            <span>Configure Table</span>
            <img src="../../../assets/resources/images/th-sort-down.png" />
          </a>
          <div class="configTableDropdown" id="productsTableFilters">
            <ul class="configOptionList" id="productConfigList">
              <li class="filterItem">
                <span>Recent Filters</span>
                <ul class="filterList" id="productFilterList">
                  <!-- <c:if test="${not empty productFilters}"> -->
                  <!-- <c:forEach items="${productFilters}" var="filter"> -->
                  <li>
                    <a
                      href=""
                      class="filterLink productFilterName"
                      style="
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                      >filter.name</a
                    >
                    <span class="productFilterId" style="display: none"
                      >filter.id</span
                    >
                    <div
                      class="productFilterReqData hoverData"
                      style="display: none"
                    >
                      filter.reqData
                    </div>
                  </li>
                  <!-- </c:forEach> -->
                  <!-- </c:if> -->
                  <!-- <c:if test="${not empty productFilterSeeMore}"> -->
                  <li class="seeAllFilterLink">
                    <a href="" class="seeMoreLink">See More</a>
                    <ul class="allFiltersList productAllFilterList">
                      <!-- <c:forEach items="${productFilterSeeMore}" var="filter"> -->
                      <li>
                        <a
                          href=""
                          class="filterLink productFilterName"
                          style="
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          "
                          >filter.name</a
                        >
                        <span class="productFilterId" style="display: none"
                          >filter.id</span
                        >
                        <div
                          class="productFilterReqData hoverData"
                          style="display: none"
                        >
                          filter.reqData
                        </div>
                      </li>
                      <!-- </c:forEach> -->
                    </ul>
                  </li>
                  <!-- </c:if> -->
                </ul>
              </li>
              <li class="chooseCol">
                <a href="">Choose Columns</a>
              </li>
              <li class="recordsPerPage">
                <a href="">Records Per Page</a>
              </li>
              <li class="exportTableLink">
                <a href="">Export Table</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="fleft tableNavDiv" id="productsTablePagination">
          <a href="" class="first first-page pageNumber">
            <img src="../../../assets/resources/images/first-page.png" />
          </a>
          <a href="" class="prev pageNumber">
            <img src="../../../assets/resources/images/prev-page.png" />
          </a>
          <span class="showingText">Page</span>
          <span class="pagedisplay"><span class="pageNum">1</span> </span>
          <!-- <c:choose>
                          <c:when test="${(totalProductRecords mod 10)!=0}">
                              <c:set var="res" value="${(totalProductRecords - (totalProductRecords mod productTableRecords))/productTableRecords + 1}"/>
                              <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                              <span class="totalPage">${totalPage}</span>
                          </c:when>
                          <c:otherwise>
                              <c:set var="res" value="${totalProductRecords/10}"/>
                              <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
                              <span class="totalPage">${totalPage}</span>
                          </c:otherwise>
                        </c:choose> -->
          <a href="" class="next pageNumber">
            <img src="../../../assets/resources/images/next-page.png" />
          </a>
          <a href="" class="last last-page pageNumber">
            <img src="../../../assets/resources/images/last-page.png" />
          </a>
        </div>
      </div>
      <div class="cboth"></div>
    </div>
    <div class="recordsTableDiv">
      <table
        cellspacing="0"
        cellpadding="0"
        class="recordsTable"
        id="productsRecordsTable"
      >
        <thead>
          <tr>
            <th
              class="first-child sortable"
              sortDir="asc"
              sortCol="organization_id"
              id="id"
            >
              Product Id
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="organization_name"
              id="name"
            >
              Product Name
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="customer_name"
              id="costprice"
            >
              Cost Price
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="master_name"
              id="sellingprice"
            >
              Selling Price
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="product_group_name"
              id="barcode"
            >
              Barcode
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="product_group_name"
              id="discount"
            >
              Discount
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="product_group_name"
              id="tax"
            >
              Tax
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="product_group_name"
              id="tax"
            >
              user id
            </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="product_group_name"
              id="tax"
            >
            company id
          </th>
            <th
              class="sortable"
              sortDir="asc"
              sortCol="product_group_name"
              id="tax"
            >
              seller id
            </th>
            <th class="last-child"></th>
          </tr>
        </thead>
        <tbody id="prodTable">
          <tr>
            <span class="noProdRecord">No records found</span>
          </tr>
          <!-- <c:forEach items="${products}" var="product">  -->
          <tr *ngFor="let product of availableProducts" id="prod_{{product.id}}">
            <td >{{product.id}}</td>
            <td >{{product.name}}</td>
            <td >{{product.costPrice}}</td>
            <td >{{product.sellingPrice}}</td>
            <td >{{product.barcode}}</td>
            <td >{{product.discount}}</td>
            <td >{{product.tax}}</td>
            <td >{{product.userId}}</td>
            <td >{{product.companyId}}</td>
            <td >{{product.sellerId}}</td>
            <td class="last-child">
              <a href="" class="editRowLink editGroupCombo">
                <img src="../../../assets/resources/images/editRow.png" />
              </a>
              <a href="" class="deleteRowLink deleteGroupCombo">
                <img src="../../../assets/resources/images/deleteRow.png" />
              </a>
            </td>
          </tr>
          <!-- </c:forEach>	 -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="popupWrapper" id="createNewProductPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Create Product</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Create Product <i class="fa fa-plus-square" id="rohit"></i></h1>
    <div>Create a new Product.</div>
  </div>
  <div class="popupContentWrapper">
    <!-- create cat -->
    <div class="card-body" *ngIf="categorySelectShowable">
      <div class="row">
        <div class="col-md-4" style="border: 1px solid #ccc;">
          <div class="m-t-10">
            <h6 class="font-weight-bold">Categories</h6>
            <div>
              <a href="#" id="collapseCategory"
                class="fs-12 font-weight-bold"> collapse all</a> | <a
                href="#" id="expandCategory" class="fs-12 font-weight-bold">
                expand all</a>
            </div>
            <div class="m-t-10 text-primary">
              <ul class="fs-13 font-weight-bold" id="categoryHierarchy" >

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8" style="border: 1px solid #ccc;">
          <div class="m-t-10" style="background-color: #e3e3e3;">
            <h6 class="m-l-10 p-t-15 p-b-15" id="category-select">Select
              the Category for Product</h6>
          </div>
          <span>Category cat1 has been selected</span>
          <div class="w-size25 submit-btn">
            <button type="button"
              class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" (click)="showAddProductSec()"
              id="next_btn">Nextjs</button>
          </div>
        </div>
      </div>
    </div>





    <form #createProductForm="ngForm" name="createProduct" *ngIf="productAddShowable"
      (ngSubmit)="createProduct()" id="createProductForm"
   >
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">Unique ID:</td>
              <td class="col2">6578</td>
              <td class="col3"></td>
            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Product  Name:<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="name.invalid && name.touched"
                class="form-control"
                id="name"
                #name="ngModel"
                required
                name="name"
                [(ngModel)]="product.name"
                required="required"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="name.valid || name.untouched"
                >invalid  name</small>
              </td>
            </tr>
            <!-- <tr>
              <td class="col1 pt-2"  >
                Select Category:<span class="mandatorySign">*</span>
              </td>
              <select name="cars" id="cars">
                <option value="{{c.id}}" *ngFor="let c of availableCategories">{{c.name}}</option>
              </select>

            </tr> -->
            <tr>
              <td class="col1 pt-2"  >
                 Category Selected:<span class="mandatorySign">*</span>
              </td>
              <td class="col2 pt-2">
                <small>Category1</small>
              </td>

            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Selling  Price:<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="sellingPrice.invalid && sellingPrice.touched"
                class="form-control"
                id="sellingPrice"
                #sellingPrice="ngModel"
                name="sellingPrice"
                required
                sellingPrice="sellingPrice"
                [(ngModel)]="product.sellingPrice"
                required="required"
              />


              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="sellingPrice.valid || sellingPrice.untouched"
                >invalid  selling price</small>
              </td>
            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Cost Price:<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="costPrice.invalid && costPrice.touched"
                class="form-control"
                id="costPrice"
                #costPrice="ngModel"
                required
                name="costPrice"
                costPrice="costPrice"
                [(ngModel)]="product.costPrice"
                required="required"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="costPrice.valid || costPrice.untouched"
                >invalid  costPrice</small>
              </td>
            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Bar Code:<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="text"
                [class.is-invalid]="barcode.invalid && barcode.touched"
                class="form-control"
                id="barcode"
                #barcode="ngModel"
                name="barcode"
                required
                barcode="barcode"
                [(ngModel)]="product.barcode"
                required="required"
              />

              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="barcode.valid || barcode.untouched"
                >invalid  barcode</small>
              </td>
            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Discount  :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="discount.invalid && discount.touched"
                class="form-control"
                id="discount"
                #discount="ngModel"
                name="discount"
                required
                discount="discount"
                [(ngModel)]="product.discount"
                required="required"
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="discount.valid || discount.untouched"
                >invalid  discount</small>
              </td>
            </tr>
            <tr>
              <td class="col1 pt-2"  >
                Tax  :<span class="mandatorySign">*</span>
              </td>
              <td class="col2">
                <input
                type="number"
                [class.is-invalid]="tax.invalid && tax.touched"
                class="form-control"
                id="tax"
                name="tax"
                #tax="ngModel"
                tax="tax"
                [(ngModel)]="product.tax"
                readOnly
              />
              </td>
              <td class="col3">
                <small class="text-danger" [class.d-none]="tax.valid || tax.untouched"
                >invalid  tax</small>
              </td>
            </tr>


          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
            class="btn btn-success btn-sm py-2 px-4"
            type="submit"
            id="submitCreateProduct"
            value="Add product"
            [disabled]="createProductForm.form.invalid"
         />

        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
  <!-- <script type="text/javascript">
        /*---- Date Picker input ---- */
            $('.datepickerInput').datepicker({
                    dateFormat: "mm/dd/yy",
                    showOn: "button",
                    buttonImage: "../../../assets/resources/images/calendar-bg.png",
                    buttonImageOnly: true
                });
            dragNDrop();

            $(function(){
                $('#custPartName').blur(function(){
                    $('#masterPartName').val($('#custPartName').val());
                })
            })
    </script> -->
</div>
