/* receipt */
.ReceiptContainer {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 200px;
  height: auto;
}

.receipt-header {
  margin-bottom: 20px;
}

/* checkout */
.receipt-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.customer-details,
.payment-details {
  margin-bottom: 20px;
}

.thank-you {
  margin-bottom: 20px;
}

.signature {
  display: inline-block;
}

.signature img {
  max-width: 150px;
  height: auto;
  margin-top: 20px;
}

.signature p {
  margin-top: 10px;
  font-weight: bold;
}
