<div class="popupHeading">
  <h2 class="fleft">Counter</h2>
  <a href="" class="JoshiCloseButton fright"
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
  <div class="cboth"></div>
</div>
<div class="popupSubHeadingDiv createProduct">
  <h1 class="heading">Register Counter</h1>
  <div>Create a new Counter.</div>
</div>
<div class="popupContentWrapper">
  <form [formGroup]="CounterForm" id="createProduct">
    <div class="chooseColoumnsWrapper">
      <div class="fieldDiv popUpFormSectionWrapper">
        <table class="formSection" cellpadding="0" cellspacing="0">
          <tr>
            <td class="col1">Name:<span class="mandatorySign">*</span></td>
            <td class="col3">
              <input
                type="text"
                class="inputText mandatory"
                formControlName="name"
                title="Enter Text"
                id="custPartName"
              />
              <span class="validationMsg"><br />Please enter valid Name.</span>
            </td>
            <td class="col3"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="submitDiv tCenter">
      <input
        type="submit"
        value="Register"
        (click)="OnSubmit()"
        class="submit_btn registerButton border-rad"
        id=""
      />

      <input
        type="button"
        value="Cancel"
        class="submit_btn JoshiCloseButton border-rad"
      />
    </div>
  </form>
</div>
