<div class="popupHeading">
  <h2 class="fleft">Create Loan</h2>
  <a class="closeButton fright" id="closeCreateLoan" (click)="destroyComp()"
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
  <div class="cboth"></div>
</div>
<div class="popupSubHeadingDiv addNewLoan">
  <h1 class="heading">Your can create your Loan here</h1>
</div>
<div class="popupContentWrapper">
  <div class="row">
    <div class="col-md-12">
      <form
        #createLoanForm="ngForm"
        name="createLoan"
        (ngSubmit)="createLoan(createLoanForm)"
      >
        <div
          class="alert alert-warning"
          role="alert"
          *ngIf="createLoanForm.form.invalid && createLoanForm.form.touched"
        >
          Please fill all the required fields
        </div>
        <div class="chooseColoumnsWrapper">
          <div class="fieldDiv popUpFormSectionWrapper">
            <table class="" cellpadding="0" cellspacing="1">
              <tr>
                <td class="col1 pt-2">
                  Bank:
                  <span class="mandatorySign">*</span>
                </td>
                <td class="col2 pt-2 ml-3">
                  <select
                    id="bankId"
                    style="width: 100%; height: 30px"
                    name="bankId"
                    #bankId="ngModel"
                    [(ngModel)]="loan.bankId"
                    [class.is-invalid]="bankId.invalid && bankId.touched"
                    required
                  >
                    <option value="" disabled selected>Select an option</option>
                    <option
                      *ngFor="let option of banks"
                      [value]="option.bankId"
                    >
                      {{ option.bankName }}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Lender:
                  <span class="mandatorySign">*</span>
                </td>
                <td class="col2 pt-2 ml-3">
                  <input
                    type="number"
                    [(ngModel)]="lenderPanOrPhone"
                    class="form-control"
                    (keydown.enter)="fetchLenderInfo()"
                    name="seller"
                    ngNoForm
                  />
                </td>
                <td class="col3">
                  <i
                    class="submit_btn border-rad fas far fa-search"
                    style="margin: 0 5px"
                    (click)="fetchLenderInfo()"
                  ></i>
                  <button
                    id="selectLender"
                    class="createNewTableRecord"
                    style="display: none"
                  ></button>
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2"></td>
                <td class="col2">
                  <div class="ml-2 mb-2 mt-2">
                    <span> search by pan or phone</span>
                    <!-- <span>
                      <input
                        type="radio"
                        name="lenderSearch"
                        value="pan"
                        (change)="lenderSearch(1)"
                        [checked]="lenderSearchMethod === 1"
                      />
                      PAN
                    </span>
                    <span>
                      <input
                        type="radio"
                        name="lenderSearch"
                        class="ml-3"
                        value="phone"
                        [checked]="lenderSearchMethod === 2"
                        (change)="lenderSearch(2)"
                      />
                      PHONE</span
                    > -->
                  </div>
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Lender Id :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="lenderId.invalid && lenderId.touched"
                    class="form-control"
                    id="lenderId"
                    #lenderId="ngModel"
                    name="lenderId"
                    required
                    [(ngModel)]="loan.lenderId"
                    readonly
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="loanNumber.valid || loanNumber.untouched"
                    >invalid loanNumber</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2">
                  Loan Type :
                  <span class="mandatorySign">*</span>
                </td>
                <td class="col2 pt-2 ml-3">
                  <select
                    id="loanType"
                    style="width: 100%; height: 30px"
                    name="loanType"
                    #loanType="ngModel"
                    [(ngModel)]="loan.loanType"
                    [class.is-invalid]="loanType.invalid && loanType.touched"
                    required
                  >
                    <option value="" disabled selected>Select an option</option>
                    <option
                      *ngFor="let option of loanTypes"
                      [value]="option.loanTypeIndex"
                    >
                      {{ option.loanType }}
                    </option>
                  </select>
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  Loan Name :
                  <span class="mandatorySign">*</span>
                </td>
                <td class="col2 pt-2 ml-3">
                  <select
                    id="loanName"
                    style="width: 100%; height: 30px"
                    name="loanName"
                    #loanName="ngModel"
                    [(ngModel)]="loan.loanName"
                    [class.is-invalid]="loanName.invalid && loanName.touched"
                    required
                  >
                    <option value="" disabled selected>Select an option</option>
                    <option
                      *ngFor="let option of loanNames"
                      [value]="option.loanNameIndex"
                    >
                      {{ option.loanName }}
                    </option>
                  </select>
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  Loan Number :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="
                      loanNumber.invalid && loanNumber.touched
                    "
                    class="form-control"
                    id="loanNumber"
                    #loanNumber="ngModel"
                    name="loanNumber"
                    required
                    [(ngModel)]="loan.loanNumber"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="loanNumber.valid || loanNumber.untouched"
                    >invalid loanNumber</small
                  >
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  Amount :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="amount.invalid && amount.touched"
                    class="form-control"
                    id="amount"
                    #amount="ngModel"
                    name="amount"
                    required
                    [(ngModel)]="loan.loanAmount"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="amount.valid || amount.untouched"
                    >invalid amount</small
                  >
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  Received Amount :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="
                      receivedAmount.invalid && receivedAmount.touched
                    "
                    class="form-control"
                    id="receivedAmount"
                    #receivedAmount="ngModel"
                    required
                    name="receivedAmount"
                    [(ngModel)]="loan.receivedAmount"
                    required="required"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="
                      receivedAmount.valid || receivedAmount.untouched
                    "
                    >invalid receivedAmount</small
                  >
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  Service Charge :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="
                      serviceCharge.invalid && serviceCharge.touched
                    "
                    class="form-control"
                    id="serviceCharge"
                    #serviceCharge="ngModel"
                    name="serviceCharge"
                    [(ngModel)]="loan.serviceCharge"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="
                      serviceCharge.valid || serviceCharge.untouched
                    "
                    >invalid serviceCharge</small
                  >
                </td>
              </tr>

              <tr>
                <td class="col1 pt-2">
                  Other Expenses :<span class="mandatorySign">*</span>
                </td>
                <td class="col2">
                  <input
                    type="number"
                    [class.is-invalid]="
                      otherExpenses.invalid && otherExpenses.touched
                    "
                    class="form-control"
                    id="otherExpenses"
                    #otherExpenses="ngModel"
                    name="otherExpenses"
                    [(ngModel)]="loan.otherExpenses"
                  />
                </td>
                <td class="col3">
                  <small
                    class="text-danger"
                    [class.d-none]="
                      otherExpenses.valid || otherExpenses.untouched
                    "
                    >invalid otherExpenses</small
                  >
                </td>
              </tr>
              <tr>
                <td class="col1 pt-2"></td>
                <td class="col2">
                  <div class="submitDiv tCenter">
                    <input
                      type="submit"
                      class="submit_btn border-rad"
                      id="submitCreateProduct"
                      value="Add Loan"
                      [disabled]="createLoanForm.form.invalid"
                    />
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="popupWrapper CustomerPopupWrapper1"
  id="selectLenderPopup"
  style="display: none; width: auto"
>
  <app-select-customer
    *ngIf="selectCompanyActive"
    [selectMenusForCompanies]="lenders"
    (compIdEvent)="setLenderId($event)"
    (destroySelectCompEmitter)="destroySelectLenderComponent($event)"
    (fetchCustomerEventEmitter)="fetchLenderInfo()"
  >
  </app-select-customer>
</div>
