<div id="pageWrapper" class="pageWrapperCompany">
  <div class="CompanyBodyWrapper border-rad">
    <div style="justify-content: center" class="">
      <div class="loginLogoWrapper">
        <h2 style="font-size: 2rem" class="text-center">Select Your Company</h2>
      </div>

      <div>
        <div class="container">
          <div class="main-body">
            <div
              class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm"
            >
              <div *ngFor="let company of company" class="col mb-3">
                <div style="width: 200px" class="card">
                  <img
                    src="https://www.bootdey.com/image/340x120/87CEFA/000000"
                    alt="Cover"
                    class="card-img-top"
                  />
                  <div class="card-body text-center">
                    <img
                      src="../../../../assets/images/logo.png"
                      style="width: 100px; margin-top: -65px"
                      alt="company"
                      class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
                    />
                    <h5 class="card-title">{{ company.name }}</h5>
                    <p class="text-secondary mb-1">
                      Pan No: {{ company.panNo }}
                    </p>
                    <p class="text-muted font-size-sm">
                      {{ company.zone }}
                    </p>
                  </div>
                  <div class="card-footer">
                    <button
                      class="submit_btn border-rad btn-sm has-icon btn-block"
                      (click)="proceed(company)"
                      type="button"
                    >
                      proceed
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cboth">
      <div style="margin-top: 100px">
        <table class="loginBoxTable">
          <tr>
            <td class="labelColumn">
              <tr>
                <td class="labelColumn"></td>
              </tr>
            </td>

            <td style="padding-left: 200px" class="inputColumn">
              <a
                class="register_btn border-rad register-button createNewTableRecord"
                id="createNewProduct"
                value=""
                style="color: white"
                >Create New Company</a
              >
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="cboth"></div>
</div>

<div class="popupWrapper" id="createNewProductPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Register Company</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Register Company</h1>
    <div>Create a new Company.</div>
  </div>
  <div class="popupContentWrapper">
    <form
      id="createProduct"
      [formGroup]="CompanyRegistrationForm"
      (ngSubmit)="registerCompany()"
    >
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">Name:<span class="mandatorySign">*</span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="name"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Name.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Description:<span class=""></span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText"
                  title="Enter Text"
                  formControlName="description"
                  id="custPartName"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Pan-Number:<span class=""></span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText"
                  formControlName="panNo"
                  title="Enter Text"
                  id="custPartName"
                />
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">State:<span class="mandatorySign"></span></td>

              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  formControlName="state"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid State.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
            <div class="cboth"></div>
            <tr>
              <td class="col1">Zone:<span class="mandatorySign"></span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="zone"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Zone.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
            <tr>
              <td class="col1">District:<span class="mandatorySign"></span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="District"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid District name.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">
                Muncipality/VDC:<span class="mandatorySign"></span>
              </td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  formControlName="munVdc"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Muncipality/VDC .</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Ward no:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  formControlName="wardNo"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Ward no.</span
                >
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Phone:<span class="mandatorySign">*</span></td>
              <td class="col3">
                <input
                  type="number"
                  class="inputText mandatory"
                  formControlName="phone"
                  title="Enter Text"
                  id="custPartName"
                />
                <span class="validationMsg"
                  ><br />Please enter valid Phone.</span
                >
              </td>
              <td class="col3"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Register"
          class="submit_btn border-rad"
          id="addProduct"
        />

        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
</div>
