<div id="pageWrapper" class="pageWrapperCompany">
  <div class="CompanyBodyWrapper border-rad">
    <div style="justify-content: center" class="">
      <div class="loginLogoWrapper">
        <h2 style="font-size: 2rem" class="text-center">Select Your Company</h2>
      </div>

      <div>
        <div class="container">
          <div class="main-body">
            <div
              class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm"
            >
              <div *ngFor="let company of company" class="col mb-3">
                <div style="width: 200px" class="card">
                  <img
                    src="https://www.bootdey.com/image/340x120/87CEFA/000000"
                    alt="Cover"
                    class="card-img-top"
                  />
                  <div class="card-body text-center">
                    <img
                      src="../../../../assets/images/logo.png"
                      style="width: 100px; margin-top: -65px"
                      alt="company"
                      class="img-fluid img-thumbnail rounded-circle border-0 mb-3"
                    />
                    <h5 class="card-title">{{ company.name }}</h5>
                    <p class="text-secondary mb-1">
                      Pan No: {{ company.panNo }}
                    </p>
                    <p class="text-muted font-size-sm">
                      {{ company.district }}
                    </p>
                  </div>
                  <div class="card-footer">
                    <button
                      class="submit_btn border-rad btn-sm has-icon btn-block"
                      (click)="proceed(company)"
                      type="button"
                    >
                      proceed
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-create-company></app-create-company>
  </div>
  <div class="cboth"></div>
</div>
