<div class="contentRecordsTableContainer MainContainer">
  <div class="recordTableWrapper">
    <div class="recordCategory">
      <h2 class="text-center" id="totalGroupCombinations">Create Sales</h2>
      <div class="cboth"></div>
    </div>

    <div class="popupSubHeadingDiv createsalesBill">
      <h1 class="heading">Choose products for sales</h1>
    </div>
    <div class="popupContentWrapper" style="background: none">
      <div class="row">
        <div class="col-md-12">
          <!-- <app-popup class="m-4"></app-popup> -->

          <table>
            <tr>
              <td>Enter CustomerId:</td>
              <td>
                <input class="input-field" [(ngModel)]="customerId" />
              </td>
            </tr>
            <tr>
              <td>Enter product Id:</td>
              <td>
                <input
                  class="input-field"
                  [(ngModel)]="productBarCodeId"
                  (keydown.enter)="addTheProductForSale()"
                />
              </td>
            </tr>
            <tr>
              <td>Enter product Name:</td>
              <td>
                <input class="input-field" type="text" readonly />
              </td>
            </tr>
            <td style="padding-top: 10px">
              <button
                class="submit_btn border-rad"
                (click)="addTheProductForSale()"
              >
                Add product
              </button>
            </td>
          </table>

          <div class="recordsTableDiv">
            <table cellspacing="0" cellpadding="0" class="recordsTable">
              <thead>
                <th>S.N</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let prod of productsUserWantTosale; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ prod.name }}
                  </td>
                  <td>
                    <input
                      type="number"
                      value="1"
                      id="qtyProd{{ prod.id }}"
                      (change)="updateProdQtyUserWantToSale($event, prod)"
                    />
                  </td>
                  <td>{{ prod.sellingPrice }}</td>
                  <td id="totalAmount{{ prod.id }}">{{ prod.sellingPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="margin-top: 20px">
            <button class="submit_btn border-rad" id="popperAlertLink">
              Sale the product
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="popperAlert" id="popperAlertSettingPopup" style="">
        <div class="popupHeading">
          <h2 class="fleft">Confirm</h2>
          <a href="" class="closeAlertPopperButton fright"
            ><img
              src="../../../../assets/resources/images/removetablink.png"
              alt="close"
          /></a>
          <div class="cboth"></div>
        </div>
        <div class="popupContentWrapper">
          <form>
            <div class="contentDiv">
              <div class="contentChildTextDiv">Are you sure ?</div>
              <div class="contentChildTextDiv">
                Click Yes to continue or Cancel to discard.
              </div>
            </div>
            <div class="submitDiv tCenter">
              <button
                (click)="saleTheProducts()"
                type="button"
                class="submit_btn border-rad blueGradient resetSettings"
              >
                Yes
              </button>
              <button
                type="button"
                class="closeAlertPopperButton submit_btn border-rad"
                id="closeAlertPopperButton"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
