<div class="popupHeading">
  <h2 class="fleft">Create Sales</h2>
  <a class="closeButton fright"
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
  <div class="cboth"></div>
</div>
<div class="popupSubHeadingDiv createsalesBill">
  <h1 class="heading">
    Choose products for sales <a href="" id="popperAlertLink">CG</a>
  </h1>
</div>
<div class="popupContentWrapper">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-popup class="m-4"></app-popup> -->

      <table>
        <tr>
          <td>Enter CustomerId:</td>
          <td><input [(ngModel)]="customerId" /></td>
        </tr>
        <tr>
          <td>Enter product Id:</td>
          <td>
            <input
              [(ngModel)]="productBarCodeId"
              (keydown.enter)="addTheProductForSale()"
            />
          </td>
          <td><button (click)="addTheProductForSale()">Add product</button></td>
        </tr>
        <tr>
          <td>Enter product Name:</td>
          <td><input type="text" readonly /></td>
        </tr>
      </table>

      <table class="table">
        <thead>
          <th>S.N</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
        </thead>
        <tbody>
          <tr *ngFor="let prod of productsUserWantTosale; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              {{ prod.name }}
            </td>
            <td>
              <input
                type="number"
                value="1"
                id="qtyProd{{ prod.id }}"
                (change)="updateProdQtyUserWantToSale($event, prod)"
              />
            </td>
            <td>{{ prod.sellingPrice }}</td>
            <td id="totalAmount{{ prod.id }}">{{ prod.sellingPrice }}</td>
          </tr>
        </tbody>
      </table>
      <button id="popperAlertLink">Sale the product</button>
    </div>
  </div>
</div>

<!-- <tr *ngFor="let prod of productsUserWantTosale; let i = index">
  <td>{{ i+1 }}</td>
  <td>
    <input
      type="number"
      value="{{ prod.qty }}"
      (change)="updateQty($event, prod.productId)"
    />
  </td>
  <td>{{ prod.discountPerUnit }}</td>
  <td>{{ prod.rate }}</td>
</tr> -->

<div>
  <div class="popperAlert" id="popperAlertSettingPopup" style="">
    <div class="popupHeading">
      <h2 class="fleft">Confirm</h2>
      <a href="" class="closeAlertPopperButton fright"
        ><img
          src="../../../../assets/resources/images/removetablink.png"
          alt="close"
      /></a>
      <div class="cboth"></div>
    </div>
    <div class="popupContentWrapper">
      <form>
        <div class="contentDiv">
          <div class="contentChildTextDiv">Are you sure ?</div>
          <div class="contentChildTextDiv">
            Click Yes to continue or Cancel to discard.
          </div>
        </div>
        <div class="submitDiv tCenter">
          <button
            (click)="saleTheProducts()"
            type="button"
            class="submit_btn border-rad blueGradient resetSettings"
          >
            Yes
          </button>
          <button
            type="button"
            class="closeAlertPopperButton"
            id="closeAlertPopperButton"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
