<div class="recordCategoryListWrapper">
  <div class="tabListWrapper">
    <ul class="tabList">
      <!-- <li id="masterData" class="masterDataTab mainTab">
        <a href="/master-data" class="fleft">Master Data</a>
        <a
          href="JavaScript:popupWindow('/master-data')"
          class="popchecked fright"
          ><img src="../../../assets/resources/images/popchecked.png"
        /></a>
        <a href="" class="removeTabLink fright"
          ><img src="../../../assets/resources/images/removetablink.png"
        /></a>
      </li> -->
      <!-- <li id="pricingTypesAndSequences" class="pricingTypeTab mainTab">
        <a href="/pricing-type" class="fleft">Pricing Types &amp; Sequences</a>
        <a
          href="JavaScript:popupWindow('/pricing-type')"
          class="popchecked fright"
          ><img src="../../../assets/resources/images/popchecked.png"
        /></a>
        <a href="" class="removeTabLink fright"
          ><img src="../../../assets/resources/images/removetablink.png"
        /></a>
      </li> -->
      <!-- <li id="groupComboAndAttributes" class="groupComboTab mainTab">
        <a href="/group-combo" class="fleft">Group Combo &amp; Attributes</a>
        <a
          href="JavaScript:popupWindow('/group-combo')"
          class="popchecked fright"
          ><img src="../../../assets/resources/images/popchecked.png"
        /></a>
        <a href="" class="removeTabLink fright"
          ><img src="../../../assets/resources/images/removetablink.png"
        /></a>
      </li> -->
      <!-- <li id="testing" class="testingTab mainTab">
        <a href="/testing" class="fleft">Testing</a>
        <a href="JavaScript:popupWindow('/testing')" class="popchecked fright"
          ><img src="../../../assets/resources/images/popchecked.png"
        /></a>
        <a href="" class="removeTabLink fright"
          ><img src="../../../assets/resources/images/removetablink.png"
        /></a>
      </li> -->
    </ul>
  </div>
  <div class="tabsBottomDiv"></div>
</div>
