<div id="pageWrapper" class="pageWrapper bodydiv">
  <div class="loginBodyWrapper border-rad">
    <div class="fleft logoLoginWrapper">
      <div class="loginLogoWrapper">
        <img src="../../../../assets/images/login-logo.png " alt="Pricer" />
      </div>
      <div class="loginBox border-rad">
        <form
          id="authenticate"
          [formGroup]="loginForm"
          (ngSubmit)="loginUser()"
        >
          <div>
            <table class="loginBoxTable">
              <tr>
                <td class="labelColumn">Username:</td>
                <td class="inputColumn">
                  <input
                    type="text"
                    name="username"
                    class="inputText mandatory"
                    formControlName="email"
                  />
                  <span
                    *ngIf="email && email.invalid && email.touched"
                    class="validationMsg"
                    ><br />Please enter valid username.</span
                  >
                </td>
              </tr>
              <tr>
                <td class="labelColumn">Password:</td>
                <td class="inputColumn">
                  <input
                    type="password"
                    name="password"
                    formControlName="password"
                    class="inputText mandatory pwdField"
                  />
                  <span
                    class="validationMsg"
                    *ngIf="password && password.invalid && password.touched"
                    ><br />Please enter valid password.</span
                  >
                </td>
              </tr>

              <tr>
                <td class="labelColumn">
                  <tr>
                    <td class="labelColumn"></td>
                  </tr>
                </td>

                <td class="inputColumn">
                  <input
                    type="submit"
                    class="submit_btn border-rad"
                    [disabled]="loginForm.invalid"
                    value="Log In"
                  />

                  <a
                    class="register_btn border-rad register-button createNewTableRecord"
                    id="createNewProduct"
                    value="Register"
                    style="color: whitesmoke"
                    >Register</a
                  >
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
    <div class="cboth"></div>
    <div class="footerWrapper">
      <div class="copyrightDiv">&copy; 2023 iShani Technology.</div>
    </div>
  </div>
</div>

<!-- testing  -->

<div class="popupWrapper" id="createNewProductPopup" style="display: none">
  <div class="popupHeading">
    <h2 class="fleft">Register</h2>
    <a href="" class="closeButton fright"
      ><img
        src="../../../assets/resources/images/removetablink.png"
        alt="close"
    /></a>
    <div class="cboth"></div>
  </div>
  <div class="popupSubHeadingDiv createProduct">
    <h1 class="heading">Register</h1>
    <div>Create a new User.</div>
  </div>
  <div class="popupContentWrapper">
    <form
      id="createProduct"
      [formGroup]="RegisterForm"
      (ngSubmit)="registerUser()"
    >
      <div class="chooseColoumnsWrapper">
        <div class="fieldDiv popUpFormSectionWrapper">
          <table class="formSection" cellpadding="0" cellspacing="0">
            <tr>
              <td class="col1">
                First Name:<span class="mandatorySign">*</span>
              </td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="firstname"
                  id="custPartName"
                />
                <!-- <span class="validationMsg"
                  ><br />Please enter valid Customer part name.</span
                > -->
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">
                Last Name:<span class="mandatorySign">*</span>
              </td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="lastname"
                  id="custPartName"
                />
                <!-- <span class="validationMsg"
                  ><br />Please enter valid Customer part name.</span
                > -->
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Email:<span class="mandatorySign">*</span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="registerEmail"
                  id="custPartName"
                />
                <!-- <span class="validationMsg"
                  ><br />Please enter valid Customer part name.</span
                > -->
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">Phone:<span class="mandatorySign">*</span></td>

              <td class="col3">
                <input
                  type="text"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="phone"
                  id="custPartName"
                />
                <!-- <span class="validationMsg"
                  ><br />Please enter valid Customer part name.</span
                > -->
              </td>
              <td class="col3"></td>
            </tr>

            <tr>
              <td class="col1">
                Password:<span class="mandatorySign">*</span>
              </td>

              <td class="col3">
                <input
                  type="password"
                  class="inputText mandatory"
                  title="Enter Text"
                  formControlName="registerPassword"
                  id="custPartName"
                />
                <!-- <span class="validationMsg"
                  ><br />Please enter valid Customer part name.</span
                > -->
              </td>
              <td class="col3"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="submitDiv tCenter">
        <input
          type="submit"
          value="Register"
          class="submit_btn border-rad"
          id="addProduct"
        />
        <input
          type="button"
          value="Cancel"
          class="submit_btn cancel_btn border-rad"
        />
      </div>
    </form>
  </div>
</div>
