<div class="popupHeading">
  <a
    style="cursor: pointer"
    class="createCustomerCloseBtn fright"
    #closeCustomer
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
</div>
<div class="popupSubHeadingDiv addNewProduct">
  <h1 class="heading">You can create your {{ title }} here</h1>
</div>
<div class="popupContentWrapper">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-popup class="m-4"></app-popup> -->
      <form
        id="createProduct"
        #compForm
        [formGroup]="CompanyRegistrationForm"
        (ngSubmit)="registerCompany(compForm)"
      >
        <div class="chooseColoumnsWrapper">
          <div class="fieldDiv popUpFormSectionWrapper">
            <table class="formSection" cellpadding="0" cellspacing="0">
              <tr>
                <td class="col1">PAN/VAT :<span class=""></span></td>
                <td class="col3">
                  <input
                    type="number"
                    class="inputText"
                    formControlName="panNo"
                    title="Enter Text"
                    [ngModel]="
                      customerPanOrPhone.toString().length === 9
                        ? customerPanOrPhone
                        : ''
                    "
                  />
                  <span>Pan</span
                  ><input
                    (change)="registrationChange($event)"
                    type="radio"
                    id="pan"
                    value="PAN"
                    name="Pan"
                  />
                  <span style="padding-left: 7px">VAT</span
                  ><input
                    (change)="registrationChange($event)"
                    checked
                    value="VAT"
                    id="vat"
                    name="Pan"
                    type="radio"
                  />
                </td>
                <td class="col3"></td>
              </tr>
              <tr>
                <td class="col1">
                  Name of Company: <span class="mandatorySign">*</span>
                </td>

                <td class="col3">
                  <input
                    type="text"
                    class="inputText mandatory"
                    title="Enter Text"
                    formControlName="name"
                    id="custPartName"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Name.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>
              <tr>
                <td class="col1">
                  Company Owner: <span class="mandatorySign">*</span>
                </td>

                <td class="col3">
                  <input
                    type="text"
                    class="inputText mandatory"
                    title="Enter Text"
                    formControlName="ownerName"
                    id="ownerName"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid owner name.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>
              <tr>
                <td class="col1">
                  Mobile No:<span class="mandatorySign">*</span>
                </td>
                <td class="col3">
                  <input
                    type="number"
                    class="inputText mandatory"
                    formControlName="phone"
                    title="Enter Text"
                    id="custPartMobile"
                    [ngModel]="
                      customerPanOrPhone.toString().length === 10
                        ? customerPanOrPhone
                        : ''
                    "
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Phone.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>
              <tr>
                <td class="col1">Email Address:</td>
                <td class="col3">
                  <input
                    type="text"
                    class="inputText"
                    title="Enter Text"
                    formControlName="email"
                    id="custPartEmail"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Name.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">Description:<span class=""></span></td>

                <td class="col3">
                  <input
                    type="text"
                    class="inputText"
                    title="Enter Text"
                    formControlName="description"
                    id="custPartDesc"
                  />
                </td>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">
                  Province:<span class="mandatorySign">*</span>
                </td>
                <div style="padding-left: 5px">
                  <select
                    formControlName="state"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    style="width: 290px"
                    #selected
                    (change)="stateChange(selected.value)"
                  >
                    <option selected disabled>Select the state</option>
                    <option
                      *ngFor="let province of province"
                      value="{{ province.provinceId }}"
                    >
                      {{ province.provinceName }}
                    </option>
                  </select>
                </div>

                <td class="col3"></td>
              </tr>
              <div class="cboth"></div>

              <tr>
                <td class="col1">
                  District:<span *ngIf="provinceId !== 8" class="mandatorySign"
                    >*</span
                  >
                </td>
                <div style="padding-left: 5px">
                  <select
                    id="district"
                    formControlName="district"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    style="width: 290px"
                    #selected
                    (change)="districtChange()"
                  >
                    <option
                      *ngFor="let district of districts"
                      value="{{ district.districtId }}"
                    >
                      {{ district.districtName }}
                    </option>
                  </select>
                </div>

                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">
                  Muncipality/VDC:
                  <span *ngIf="provinceId !== 8" class="mandatorySign">*</span>
                </td>
                <div style="padding-left: 5px">
                  <select
                    id="municipality"
                    formControlName="munVdc"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    style="width: 290px"
                    #selected
                  >
                    <option
                      *ngFor="let municipality of municipality"
                      value="{{ municipality.municipalityName }}"
                    >
                      {{ municipality.municipalityName }}
                    </option>
                  </select>
                </div>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">
                  Ward No:
                  <span *ngIf="provinceId !== 8" class="mandatorySign">*</span>
                </td>
                <td class="col3">
                  <input
                    id="ward"
                    type="number"
                    class="inputText mandatory"
                    formControlName="wardNo"
                    title="Enter Text"
                    id="custPartName"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Ward no.</span
                  >
                </td>

                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">Landline No:</td>
                <td class="col3">
                  <input
                    id="landLine"
                    type="number"
                    class="inputText mandatory"
                    formControlName="landLineNo"
                    title="Enter Text"
                    id="custLandLine"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid land line no.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="submit"
            value="Register"
            class="submit_btn border-rad"
            [disabled]="CompanyRegistrationForm.invalid"
            id=""
          />
          <!--
          <input
            type="button"
            id="createCustomerCloseBtn"
            value="Cancel"
            class="submit_btn closeButton border-rad"
          /> -->
        </div>
      </form>
    </div>
  </div>
</div>
