<div class="popupHeading">
  <h2 class="fleft">Create Customer</h2>
  <a class="createCustomerCloseBtn fright" #closeCustomer
    ><img src="../../../assets/resources/images/removetablink.png" alt="close"
  /></a>
  <div class="cboth"></div>
</div>
<div class="popupSubHeadingDiv addNewProduct">
  <h1 class="heading">Your can create your customer here</h1>
</div>
<div class="popupContentWrapper">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-popup class="m-4"></app-popup> -->
      <form
        id="createProduct"
        #compForm
        [formGroup]="CompanyRegistrationForm"
        (ngSubmit)="registerCompany(compForm)"
      >
        <div class="chooseColoumnsWrapper">
          <div class="fieldDiv popUpFormSectionWrapper">
            <table class="formSection" cellpadding="0" cellspacing="0">
              <tr>
                <td class="col1">Name:<span class="mandatorySign">*</span></td>

                <td class="col3">
                  <input
                    type="text"
                    class="inputText mandatory"
                    title="Enter Text"
                    formControlName="name"
                    id="custPartName"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Name.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">Description:<span class=""></span></td>

                <td class="col3">
                  <input
                    type="text"
                    class="inputText"
                    title="Enter Text"
                    formControlName="description"
                    id="custPartName"
                  />
                </td>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">Pan-Number:<span class=""></span></td>

                <td class="col3">
                  <input
                    type="number"
                    class="inputText"
                    formControlName="panNo"
                    title="Enter Text"
                    id="custPartName"
                  />
                </td>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">State:<span class="mandatorySign"></span></td>
                <div style="padding-left: 4.5px">
                  <select
                    formControlName="state"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    style="width: 300px"
                    #selected
                    (change)="stateChange(selected.value)"
                  >
                    <option selected disabled>Select the state</option>
                    <option
                      *ngFor="let province of province"
                      value="{{ province.provinceId }}"
                    >
                      {{ province.provinceName }}
                    </option>
                  </select>
                </div>

                <td class="col3"></td>
              </tr>
              <div class="cboth"></div>

              <tr>
                <td class="col1">
                  District:<span class="mandatorySign"></span>
                </td>
                <div style="padding-left: 4.5px">
                  <select
                    formControlName="district"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    style="width: 300px"
                    #selected
                    (change)="districtChange()"
                  >
                    <option
                      *ngFor="let district of districts"
                      value="{{ district.districtId }}"
                    >
                      {{ district.districtName }}
                    </option>
                  </select>
                </div>

                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">
                  Muncipality/VDC:<span class="mandatorySign"></span>
                </td>
                <div style="padding-left: 4.5px">
                  <select
                    formControlName="munVdc"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example"
                    style="width: 300px"
                    #selected
                  >
                    <option
                      *ngFor="let municipality of municipality"
                      value="{{ municipality.municipalityName }}"
                    >
                      {{ municipality.municipalityName }}
                    </option>
                  </select>
                </div>
                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">
                  Ward no:<span class="mandatorySign">*</span>
                </td>
                <td class="col3">
                  <input
                    type="number"
                    class="inputText mandatory"
                    formControlName="wardNo"
                    title="Enter Text"
                    id="custPartName"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Ward no.</span
                  >
                </td>

                <td class="col3"></td>
              </tr>

              <tr>
                <td class="col1">Phone:<span class="mandatorySign">*</span></td>
                <td class="col3">
                  <input
                    type="number"
                    class="inputText mandatory"
                    formControlName="phone"
                    title="Enter Text"
                    id="custPartName"
                  />
                  <span class="validationMsg"
                    ><br />Please enter valid Phone.</span
                  >
                </td>
                <td class="col3"></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="submitDiv tCenter">
          <input
            type="submit"
            value="Register"
            class="submit_btn border-rad"
            [disabled]="CompanyRegistrationForm.invalid"
            id=""
          />
          <!--
          <input
            type="button"
            id="createCustomerCloseBtn"
            value="Cancel"
            class="submit_btn closeButton border-rad"
          /> -->
        </div>
      </form>
    </div>
  </div>
</div>
