td {
  vertical-align: middle;
}
select {
  min-width: 80%;
  background-color: white;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.blue {
  background-color: blue;
  color: white;
}
div {
  vertical-align: middle;
}
