<div class="contentRecordsTableContainer MainContainer">
  <div class="recordTableWrapper">
  <div class="recordCategory">
  <h2 class="text-center" id="totalGroupCombinations">
  </h2>
  <div class="cboth"></div>
  </div>
  <div class="searchCreateTableDiv">
  <div class="searchCreateDiv">
  <div class="fleft searchDiv" id="prodSearch">
  <input
  class="inputText hintText"
  type="text"
  search="openForm"
  value="bankName"
  />
  <input
  type="image"
  src="../../../assets/resources/images/searchButton.png"
  class="serachButton"
  title="Search Term"
  />
  <a href="#" class="genLink">Clear searchs</a>
  </div>
  <div class="fright" class="createCategoryDiv">
  <a href="" id="createNewCategory" class="createNewTableRecord">
  <img src="../../../../assets/resources/images/createProduct.png" />
  <span (click)="openForm()"> split product</span>
  </a>
  </div>
  <div class="cboth"></div>
  </div>
  <div class="tableWrapper">
  <div class="tablesettingDiv">
  <div class="fleft filterListWrapper">
  <div class="fleft">
  <span class="italicText"></span>
  </div>
  <ul
  class="fleft filtersDisplayList CategoriesTableFiltersDisplayList"
  ></ul>
  <div class="cboth"></div>
  </div>
  <div class="fright configNavTableWrapper">
  <div
  class="fleft configTableDiv newFilterItem"
  dropdownId="CategoriesTableFilters"
  >
  <a href="" class="">
  <img
  src="../../../assets/resources/images/newfilter-bg.png"
  alt="New Filter"
  title="Add new filter"
  />
  <span id="newCategoryFilter" search="off">New Filter</span>
  </a>
  </div>
  <div class="fleft configTableDiv">
  <a href="" class="configTableLink">
  <img src="../../../assets/resources/images/config-bg.png" />
  <span>Configure Table</span>
  <img src="../../../assets/resources/images/th-sort-down.png" />
  </a>
  <div class="configTableDropdown" id="CategoriesTableFilters">
  <ul class="configOptionList" id="CategoryConfigList">
  <li class="filterItem">
  <span>Recent Filters</span>
  <ul class="filterList" id="CategoryFilterList">
  <!-- <c:if test="${not empty CategoryFilters}"> -->
  <!-- <c:forEach items="${CategoryFilters}" var="filter"> -->
  <li>
  <a
  href=""
  class="filterLink CategoryFilterName"
  style="
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  "
  >filter.name</a
  >
  <span class="CategoryFilterId" style="display: none"
  >filter.id</span
  >
  <div
  class="CategoryFilterReqData hoverData"
  style="display: none"
  >
  filter.reqData
  </div>
  </li>
  <!-- </c:forEach> -->
  <!-- </c:if> -->
  <!-- <c:if test="${not empty CategoryFilterSeeMore}"> -->
  <li class="seeAllFilterLink">
  <a href="" class="seeMoreLink">See More</a>
  <ul class="allFiltersList CategoryAllFilterList">
  <!-- <c:forEach items="${CategoryFilterSeeMore}" var="filter"> -->
  <li>
  <a
  href=""
  class="filterLink CategoryFilterName"
  style="
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  "
  >filter.name</a
  >
  <span class="CategoryFilterId" style="display: none"
  >filter.id</span
  >
  <div
  class="CategoryFilterReqData hoverData"
  style="display: none"
  >
  filter.reqData
  </div>
  </li>
  <!-- </c:forEach> -->
  </ul>
  </li>
  <!-- </c:if> -->
  </ul>
  </li>
  <li class="chooseCol">
  <a href="">Choose Columns</a>
  </li>
  <li class="recordsPerPage">
  <a href="">Records Per Page</a>
  </li>
  <li class="exportTableLink">
  <a href="">Export Table</a>
  </li>
  </ul>
  </div>
  </div>
  <div class="fleft tableNavDiv" id="CategoriesTablePagination">
  <a href="" class="first first-page pageNumber">
  <img src="../../../assets/resources/images/first-page.png" />
  </a>
  <a href="" class="prev pageNumber">
  <img src="../../../assets/resources/images/prev-page.png" />
  </a>
  <span class="showingText">Page</span>
  <span class="pagedisplay"><span class="pageNum">1</span> </span>
  <!-- <c:choose>
  <c:when test="${(totalCategoryRecords mod 10)!=0}">
  <c:set var="res" value="${(totalCategoryRecords - (totalCategoryRecords mod CategoryTableRecords))/CategoryTableRecords + 1}"/>
  <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
  <span class="totalPage">${totalPage}</span>
  </c:when>
  <c:otherwise>
  <c:set var="res" value="${totalCategoryRecords/10}"/>
  <fmt:parseNumber var="totalPage" integerOnly="true" type="number" value="${res}" />
  <span class="totalPage">${totalPage}</span>
  </c:otherwise>
  </c:choose> -->
  <a href="" class="next pageNumber">
  <img src="../../../assets/resources/images/next-page.png" />
  </a>
  <a href="" class="last last-page pageNumber">
  <img src="../../../assets/resources/images/last-page.png" />
  </a>
  </div>
  </div>
  <div class="cboth"></div>
  </div>
  <div class="recordsTableDiv">
  <table
  cellspacing="0"
  cellpadding="0"
  class="recordsTable"
  id="CategoriesRecordsTable"
  >
  <thead>
  <tr>
  <th
  class="first-child sortable"
  sortDir="asc"
  sortCol="organization_id"
  id="id"
  >
  productName
  </th>
  <th
  class="sortable"
  sortDir="asc"
  sortCol="organization_name"
  id="name"
  >
  updatedProductName
  </th>
  <th
  class="sortable"
  sortDir="asc"
  sortCol="customer_name"
  id="costprice"
  >
  qty
  </th>
  <th
  class="sortable"
  sortDir="asc"
  sortCol="master_name"
  id="sellingprice"
  >
  splitQty
  </th>
  <th
  class="sortable"
  sortDir="asc"
  sortCol="master_name"
  id="sellingprice"
  >
  price
  </th>
  <th
  class="sortable"
  sortDir="asc"
  sortCol="master_name"
  id="sellingprice"
  >
  unit
  </th>
  <th
  class="sortable"
  sortDir="asc"
  sortCol="master_name"
  id="sellingprice"
  >
  totalQty
  </th>
 
  <th class="last-child">Actions</th>
  </tr>
  </thead>
  <tbody id="prodTable">
  <tr>
  <span class="noProdRecord">No records found</span>
  </tr>
  <!-- <c:forEach items="${Categories}" var="Category"> -->
  <!-- <tr *ngFor="let cat of categoriesData">
  <td>{{ cat.id }}</td>
  <td>{{ cat.name }}</td>
  <td>{{ cat.description }}</td>
  <td>{{ cat.parentId }}</td>
  <td class="last-child">
  <a href="" class="">
  <img src="../../../assets/resources/images/editRow.png" />
  </a>
  <a href="" class="deleteRowLink deleteGroupCombo">
  <img src="../../../assets/resources/images/deleteRow.png" />
  </a>
  </td>
  </tr> -->
  <!-- </c:forEach> -->
  </tbody>
 
  <tbody *ngFor="let splitProduct of splitProducts; let i = index">
    
  <tr>
    
  <td>{{ splitProduct.productName}}</td>
  <td>{{ splitProduct.updatedProductName }}</td>
  <td>{{ splitProduct.qty }}</td>
  <td>{{ splitProduct.splitQty }}</td>
  <td>{{ splitProduct.price }}</td>
  <td>{{ splitProduct.unit }}</td>
  <td>{{ splitProduct.totalQty}}</td>
  
  <td class="last-child">
  <a href="" class="">
  <img src="../../../assets/resources/images/editRow.png" />
  </a>
  <a  class="deleteRowLink deleteGroupCombo">
  <img src="../../../assets/resources/images/deleteRow.png" />
  </a>
  </td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  </div>
 
  <div class="popupWrapper" id="createNewCategoryPopup" style="display: none">
  <div class="mb-2"></div>
  <div class="popupContentWrapper">
  <div class="row">
  <div class="col-md-12">
  <!-- <app-popup class="m-4"></app-popup> -->
  <form
  #splitproductForm="ngForm"
  name="splitproductForm"
  id="splitproductForm"
  (ngSubmit)="addSplitProduct(splitproductForm)"
  >
  <div class="chooseColoumnsWrapper">
  <div class="fieldDiv popUpFormSectionWrapper">
  <div class="fright" class="createCategoryDiv">
  <div class="popupContentWrapper" *ngIf="showForm">
  <div class="form-container popupContentWrapper">
  <h2 class="heading tCenter">Split product</h2>
  <form>
  <div class="form-group">
  <!-- <label for="productId">productId:</label>
  
  
  <input
  type="text"
  name="productId"
  id="productId"
  #productId="ngModel"
  [(ngModel)]="SplitProductObj.productId"
  required
  >
 
  
  </div> -->

  <div class="col1 pt-2">
    Product Name:<span class="mandatorySign">*</span> 
    <select name="productName"
            id="productName"
            #productName="ngModel"
            [(ngModel)]="SplitProductObj.productName"
            (ngModelChange)="selectProductId($event)">
      <option *ngFor="let product of availableProducts"
              [value]="product.name">
        {{ product.name }}
      </option>
    </select>
    <div *ngIf="productName.errors && (productName.dirty || productName.touched)" class="alert alert-danger">
      <div [hidden]="!productName.errors">
        Please input a productName.
      </div>
    </div>
  </div>
  
  <div class="col1 pt-2">

    Product ID:<span> {{ SplitProductObj.productId }}</span>
  </div>
<!--   
  <div class="col1 pt-2">
    <span class="mandatorySign">*</span>
    <select
      name="productId"
      id="productId"
      #productId="ngModel"
      [(ngModel)]="SplitProductObj.productId"
      required
    >
      <option [value]="ap.id" *ngFor="let ap of availableProducts">{{ap.name}}</option>
    </select>
  </div> -->

  <!-- <div class="form-group">
  <label for="productName">Original productName:</label>
  <input
  type="text"
  id="productName"
  name="productName"
  #productName="ngModel"
  [(ngModel)]="SplitProductObj.productName"
  required
  /> -->
  <!-- </div> -->
  <div class="form-group">
  <label for="qty">qty</label>
  <input
  type="number"
  id="qty"
  name="qty"
  #qty="ngModel"
  [(ngModel)]="SplitProductObj.qty"
  required
  />
  <div *ngIf="qty.errors && (qty.dirty || qty.touched)" class="alert alert-danger">
    <div [hidden]="!qty.errors">
      Please input a qty.
    </div>
  </div>
  </div>
  <div class="form-group">
    <label for="splitQty">splitQty</label>
    <input
    type="number"
    id="splitQty"
    name="splitQty"
    #splitQty="ngModel"
    [(ngModel)]="SplitProductObj.splitQty"
    required
    />
    <div *ngIf="splitQty.errors && (splitQty.dirty || splitQty.touched)" class="alert alert-danger">
      <div [hidden]="!splitQty.errors">
        Please input a splitQty.
      </div>
    </div>
    </div>
  
  
    <div class="form-group">
      <label for="price">price</label>
      <input
      type="number"
      id="price"
      name="price"
      #price="ngModel"
      [(ngModel)]="SplitProductObj.price"
      required
      />
      <div *ngIf="price.errors && (price.dirty || price.touched)" class="alert alert-danger">
        <div [hidden]="!price.errors">
          Please input a price.
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="updatedProductName">updatedProductName</label>
        <input
        type="text"
        id="updatedProductName"
        name="updatedProductName"
        #updatedProductName="ngModel"
        [(ngModel)]="SplitProductObj.updatedProductName"
        required
        />
      </div>
      <div *ngIf="updatedProductName.errors && (updatedProductName.dirty || updatedProductName.touched)" class="alert alert-danger">
        <div [hidden]="!updatedProductName.errors">
          Please input a updatedProductName.
        </div>
      </div>
    <div>


      
        <div class="col1 pt-2">
          unit :<span class="mandatorySign">*</span>
       
          <select
          name="unit"
          id="unit"
          #unit="ngModel"
          [(ngModel)]="SplitProductObj.unit"
          required
          >
          <option
          [value]="ap.name"
          *ngFor="let ap of Unit ">
          {{ap.name}}
          
          </option>
          
          </select>
        </div>
        <div *ngIf="unit.errors && (unit.dirty || unit.touched)" class="alert alert-danger">
          <div [hidden]="!unit.errors">
            Please select a unit.
          </div>
        </div>


        <div class="col1 pt-2">
          tax :<span class="mandatorySign">*</span>
       
          <select name="tax" id="tax" [(ngModel)]="createproduct.tax" required>
            <option value="" disabled selected>Select Tax</option>
            <ng-container *ngFor="let tax of typerate">
              <option [value]="tax.id">{{tax.vatRate}}%</option>
            </ng-container>
          </select>
          <!-- <option
          [value]="ap.id"
          *ngFor="let ap of typerate ">
          {{ap.vatRate}}
          
          </option> -->
          
        
        </div> 
    


      
      </div>    
  </div>

  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="submitDiv tCenter">
  <input
  type="submit"
  class="submit_btn border-rad"
  id="submitCategoryPrd"
  value="Add Category"
  
  />
 
  <input
  type="button"
  value="Cancel"
  class="submit_btn cancel_btn border-rad ml-2"
  />
  </div>
  </form>
  </div>
  </div>
  </div>
 
  <div
  class="popupWrapper"
  id="editCategoryPopup"
  style="display: none"
  ></div>
  </div>
  </div>
 </div>
 
