<app-header></app-header>
<app-tabs></app-tabs>

<div style="display: flex; justify-content: space-between">
  <app-hierarchy> </app-hierarchy>
  <div style="display: grid; justify-content: space-around">
    <app-search-create-products></app-search-create-products>
    <app-sales-billing></app-sales-billing>
    <app-group-combo-and-attribute></app-group-combo-and-attribute>
    <app-pricing-types-and-sequence></app-pricing-types-and-sequence>
    <app-testing></app-testing>
  </div>
</div>

<app-footer></app-footer>
