<app-header></app-header>
<app-tabs></app-tabs>
<div style="display: inline-flex; justify-content: space-between">
  <div style="margin: 2px; padding-left: 2px">
    <app-hierarchy> </app-hierarchy>
  </div>

  <div style="display: grid; justify-content: space-around">
    <!-- <app-search-create-products></app-search-create-products> -->
    <!-- <app-sales-billing></app-sales-billing> -->
    <router-outlet style="display: none"></router-outlet>
    <!-- <app-group-combo-and-attribute></app-group-combo-and-attribute> -->
    <!-- <app-pricing-types-and-sequence></app-pricing-types-and-sequence> -->
    <!-- <app-testing></app-testing> -->
  </div>
</div>
<div style="margin-top: 20px">
  <app-footer></app-footer>
</div>
